<article class="modal fade" id="newChatModal" tabindex="-1" role="dialog" aria-labelledby="newChatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChatModalLabel">{{i18n.chat.modals.newChatTitle}}</h5>
        <button type="button" class="close clickable" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-show="!usersList.length" >
         {{i18n.chat.modals.noUsersFound}}
        </div>
        <!-- Users List -->
        <input type="text" placeholder="{{i18n.forms.filterHint}}" class="form-control"
          ng-model="searchFilter" ng-show="usersList.length > config.minResultsToshowFilter"/>
        <div class="list-group-item mt-2 pre-scrollable" ng-show="usersList.length" >
          <div id="user-{{user.$id}}" class="list-group-item list-group-item-action flex-column align-items-start clickable"
  						ng-repeat="user in usersList | filter:searchFilter | orderBy:'shortname'"
              ng-click="createNewChat(user)" data-dismiss="modal">
  					<div class="w-100">
  					  <span class="mb-1 font-weight-bold">
  							{{user.shortname}}
  						</span><br>
              <span>
                {{user.email}}
              </span>
  					</div>
  				</div>
				</div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn clickable btn-secondary" data-dismiss="modal">{{i18n.btns.cancelBtn}}</button>
        <button type="button" class="btn clickable btn-primary"></button>
      </div> -->
    </div>
  </div>
</article>
