<section id="chatCenter">
	<!-- Alerts -->
	<div ng-include="'views/alerts.html'"></div>
	<!-- New Chat Modal -->
	<div ng-include="'views/chat/addChatModal.html'"></div>
	<!-- Delete Message Modal -->
	<div ng-include="'views/chat/deleteMessageModal.html'"></div>
	<!-- Edit Message Modal -->
	<div ng-include="'views/chat/editMessageModal.html'"></div>

	<!-- Chat List and Chat area -->
	<div class="row" ng-show="!response.loading">
		<article id="chatList" class="col-4 p-0 h-100">
			<div class="list-group">
				<!-- Filter and New Chat Btn -->
				<div class="list-group-item">
					<input type="text" placeholder="{{i18n.forms.filter.hint}}" class="form-control"
						ng-model="chatCenterParams.searchFilter" ng-show="chatList.length > config.minResultsToshowFilter"/>
					<div class="ml-auto mt-2 text-right">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-link clickable" ng-click="openNewChatModal()"
							data-toggle="modal" data-target="#newChatModal">
						  {{i18n.chat.newchatBtn}}
						</button>
					</div>
				</div>
				<!-- Alert for no records -->
				<div class="alert alert-danger" ng-if="!chatList || chatList.length == 0">
					{{i18n.chat.noChats}}
				</div>
				<!-- Chat List Elements -->
				<div id="chat-{{chatRoom.$id}}" class="list-group-item list-group-item-action flex-column align-items-start clickable"
						ng-repeat="chatRoom in chatList | filter:chatCenterParams.searchFilter | orderBy:'-lastMessageOn' track by chatRoom.$id" ng-click="openChatRoom(chatRoom)">
					<!-- Title and Counter -->
					<div class="d-flex w-100">
					  <span class="mb-1 font-weight-bold">
							<small class="badge badge-danger" ng-if="chatRoom.unreadCount >0">{{chatRoom.unreadCount}}</small>
							{{chatRoom.chattingWith}}
						</span>
					</div>
					<!-- Show Details only on Screen size Medium and above -->
					<div class="d-none d-md-block">
						<span ng-if="!chatRoom.lastMessageExcerpt" class="badge badge-primary">{{i18n.chat.newChatLbl}}</span>
						<span>{{chatRoom.lastMessageExcerpt}}</span><br>
						<small>{{chatRoom.lastMessageOn | date: 'MMM dd yyyy hh:mm a' }}</small>
					</div>
				</div>
			</div>
		</article>
		<article id="chatArea" class="col-8 h-100 bg-white p-0">
			<div id="messagesList" class="pt-4 pl-4 pr-4" style="overflow-y: scroll;height: {{chatCenterParams.chatAreaHeight}}px">
				<!-- No Messages Alert -->
				<div ng-if="chatCenterParams.activeChatMessages && chatCenterParams.activeChatMessages.length<1" class="alert alert-warning m-4">
					{{i18n.chat.emptyChat}}
				</div>
        <div class="row" ng-repeat="message in chatCenterParams.activeChatMessages | orderBy:'time':false track by message.$id">
					<!-- Message Sent -->
        	<div class="mr-2 ml-auto" ng-if="message.from == chatCenterParams.loggedUserId">
	        	<div class="alert clickable alert-secondary mb-0 mt-2" data-toggle="tooltip"
								title="{{message.time| date: 'MMM dd yyyy hh:mm a'}}"
								ng-click="showMessageMenu(message)">
							<div>
								<span ng-show="message.message">{{message.message}}</span>
								<small class="font-weight-light font-italic" ng-show="message.wasEdited">{{i18n.chat.editedMessage}}</small>
								<small class="font-weight-light font-italic" ng-show="message.deletedForAll">{{i18n.chat.deletedForAll}}</small>
								<small class="font-weight-light font-italic" ng-show="message.deletedForUser">{{i18n.chat.deletedForUser}}</small>
							</div>
							<!-- Default Message Time displays only hour -->
							<div class="text-right" ng-show="chatCenterParams.showMenuInMessage != message.$id">
								<small class="font-weight-light">{{message.time | date: 'hh:mm a'}}</small>
							</div>
							<!-- Clicking on Message will show following div -->
							<div class="text-right" ng-show="chatCenterParams.showMenuInMessage == message.$id">
								<small class="font-weight-light">{{message.time | date: 'MMM dd yyyy hh:mm a'}}</small>
								<span class="clickable fas fa-md fa-trash-alt" ng-click="prepareForDelete(message)"
									data-toggle="modal" data-target="#deleteMessageModal"></span>
								<span class="clickable fas fa-md fa-edit" ng-if="!message.deletedForAll || !message.deletedForUser"
									ng-click="prepareForEdit(message)" data-toggle="modal" data-target="#editMessageModal"></span>
							</div>
	        	</div>
					</div>
					<!-- Message received -->
					<div class="ml-2 mr-auto" ng-if="message.from != chatCenterParams.loggedUserId">
						<div class="alert clickable alert-primary mb-0 mt-2" data-toggle="tooltip"
								title="{{message.time | date: 'MMM dd yyyy hh:mm a'}}"
								ng-click="showMessageMenu(message)">
							<div>
								<span ng-show="message.message">{{message.message}}</span>
								<small class="font-weight-light font-italic" ng-show="message.wasEdited">{{i18n.chat.editedMessage}}</small>
								<small class="font-weight-light font-italic" ng-show="message.deletedForAll">{{i18n.chat.deletedForAll}}</small>
								<small class="font-weight-light font-italic" ng-show="message.deletedForUser">{{i18n.chat.deletedForUser}}</small>
							</div>
							<!-- Default Message Time displays only hour -->
							<div class="text-right" ng-show="chatCenterParams.showMenuInMessage != message.$id">
								<small class="font-weight-light">{{message.time | date: 'hh:mm a'}}</small>
							</div>
							<!-- Clcking on Message will show following div -->
							<div class="text-right" ng-show="chatCenterParams.showMenuInMessage == message.$id">
								<small class="font-weight-light">{{message.time | date: 'MMM dd yyyy hh:mm a'}}</small>
							</div>
		        </div>
	        </div>
				</div>
			</div>
			<div class="row mt-2" ng-show="chatCenterParams.activeChatWith">
				<div class="col">
					<textarea id="chatInput" name="chatInput" class="form-control"></textarea>
				</div>
			</div>
		</article>
	</div>
</section>
