.card-clickable{
	cursor: pointer;
}

.ng-invalid{
	border-color: #dc3545;
}

.ng-valid{
	border-color: #28a745;
}
.ng-untouched{
	border-color: #ced4da!important	;
}

/* .highcharts-color-0{
	fill:#7cb5ec;
}
.highcharts-color-1{
	fill:#7CECAB;
} */
