body{
	background-color: rgb(238, 238, 238);
	margin-bottom: 100px; /* Margin bottom by footer height */
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #000;
}

.card-clickable{
	cursor: pointer;
}

.ng-invalid{
	border-color: #dc3545;
}

.ng-valid{
	border-color: #28a745;
}
.ng-untouched{
	border-color: #ced4da!important	;
}

/* .highcharts-color-0{
	fill:#7cb5ec;
}
.highcharts-color-1{
	fill:#7CECAB;
} */
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.offline {
  color: #ff0000;
	font-weight: bold;
}
.online {
  color: #28a745;
	font-weight: bold;
}
