<!-- Members List -->
<section>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="m in membersList | filter:searchText">
      <!-- Group card -->
      <div class="card h-100">
        <h4 class="card-header">
          <a ng-href="#!/members/edit/{{m.$id}}">
            {{m.member.shortname}}
          </a>
        </h4>
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.forms.member.legend}}
          </h4>
          <span class="badge badge-danger" ng-if="m.member.status == 'inactive'">Miembro Inactivo </span>
          <p>
            <span class="font-weight-bold">{{i18n.forms.member.fnameLbl}}:</span>
            {{m.member.firstname}} {{m.member.lastname}}
          </p>
          <p class="card-text" ng-if="m.address">
            <span class="font-weight-bold">{{i18n.forms.address.legend}}:</span>
            {{m.address.street}}
            #{{m.address.extNumber}}<span ng-if="m.address.intNumber">, Int {{m.address.intNumber}}</span><br>
            {{m.address.city}} {{m.address.state}}, {{m.address.country}}<br>
            {{i18n.forms.address.zipLbl}} {{m.address.zip}}
          </p>
          <p class="card-text" ng-if="m.member.phone">
            <span class="font-weight-bold">{{i18n.forms.phone.phoneLbl}}:</span>
            <a href="tel:{{m.phone}}">{{m.member.phone}}</a>
          </p>
          <p class="card-text" ng-if="m.member.email">
            <span class="font-weight-bold">{{i18n.forms.group.emailLbl}}:</span>
            <a href="mailto:{{m.email}}">{{m.member.email}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>