<!-- Admin Members List View -->
<section id="adminMemberssList" ng-show="currentSession.user.type == 'admin'">

  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.admin.members.title}}</h4>
      <hr>
      <div class="row">
        <h4 class="col">
          <span class="badge badge-primary">
            {{systemCounters.members.active + systemCounters.members.inactive}}
          </span>
          <span>{{i18n.admin.members.totalMembers}}</span>
        </h4>
        <h4 class="col">
          <span class="badge badge-success">{{systemCounters.members.active}}</span>
          <span>{{i18n.admin.members.activeMembers}}</span>
        </h4>
        <h4 class="col">
          <span class="badge badge-danger">{{systemCounters.members.inactive}}</span>
          <span>{{i18n.admin.members.inactiveMembers}}</span>
        </h4>
      </div>
    </div>
  </article>

  <!-- Buttons -->
  <div class="row mb-3">
    <div class="col">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" ng-click="loadMembersList()">
        {{i18n.admin.members.loadBtn}}
      </a>
    </div>
    <div class="col">
      <a href="#!/members/new" class="btn btn-lg btn-block btn-primary">
        {{i18n.admin.members.newBtn}}
      </a>
    </div>
  </div>

  <div ng-include="'views/alerts.html'"></div>
  <!-- Alerts to show Response Message (Used after redirect from Member Create/Delete) -->
  <div class="alert alert-success" role="alert" ng-show="response.memberMsgOk">
    {{response.memberMsgOk}}
  </div>
  <div class="alert alert-danger" role="alert" ng-show="response.memberMsgError">
    {{response.memberMsgError}}
  </div>

  <article id="filterCard" class="card mb-3" ng-show="membersList">
    <div class="card-body">
      <!-- <div class="card-text">
        <p>{{i18n.admin.members.filterDescription}}</p>
      </div> -->
      <div class="row mb-2">
        <div class="col">
          <input type="text" placeholder="{{i18n.forms.filter.hint}}" class="form-control form-control-lg" ng-model="searchText">
        </div>
      </div>
      <div class="row">
        <div class="ml-auto">
          <span>
            {{i18n.admin.members.filterMemberType}}:
          </span>
          <input type="radio" ng-click="filterMembersByType()" value="all" name="memberTypeFilter" id="memberTypeAll" ng-model="memberTypeFilter">
          <label class="pr-3" for="memberTypeAll">{{i18n.admin.members.allMembersLabel}}</label>

          <input type="radio" ng-click="filterMembersByType()" value="host" name="memberTypeFilter" id="memberTypeHost" ng-model="memberTypeFilter">
          <label class="pr-3" for="memberTypeHost">{{i18n.admin.members.hostLabel}}</label>

          <input type="radio" ng-click="filterMembersByType()" value="lead" name="memberTypeFilter" id="memberTypeLead" ng-model="memberTypeFilter">
          <label class="pr-3" for="memberTypeLead">{{i18n.admin.members.leadLabel}}</label>

          <input type="radio" ng-click="filterMembersByType()" value="trainee" name="memberTypeFilter" id="memberTypeTrainee" ng-model="memberTypeFilter">
          <label class="pr-3" for="userTypeTrainee">{{i18n.admin.members.traineeLabel}}</label>
        </div>
      </div>
    </div>
  </article>

  <article ng-include="'views/members/membersList.html'"></article>

</section>
