<!-- Members List -->
<section ng-if="currentSession.user.type == 'admin'">
  <article class="card mb-3">
    <div class="card-header">
      {{i18n.admin.membersList.title}}
    </div>
    <div class="card-body">
      <div class="card-text">
          <p>{{i18n.admin.membersList.description}}</p>
      </div>
      <!-- Group Search and New Button -->
      <div class="row mb-3">
        <div class="col-8">
          <input type="text" placeholder="{{i18n.forms.search.hint}}" class="form-control form-control-lg" ng-model="searchText">
        </div>
        <div class="col-4">
          <a class="btn btn-lg btn-block btn-success" href="#!/members/new">
            {{i18n.btns.newMemberBtn}}
          </a>
        </div>
      </div>
    </div>
  </article>

    <!-- Alert/Error row -->
  <div class="alert alert-success" role="alert" ng-show="response.memberMsgOk">
    {{response.memberMsgOk}}
  </div>
  <div class="alert alert-danger" role="alert" ng-show="response.memberMsgError">
    {{response.memberMsgError}}
  </div>

  <!-- Loading/No Records Alert -->
  <div class="col"  ng-show="allMembers && allMembers.length == 0">
    <div class="alert alert-danger" role="alert">
      {{i18n.admin.membersList.noMembersError}}
    </div>
  </div>
  <div class="col"  ng-show="!allMembers">
    <div class="alert alert-warning" role="alert">
      {{i18n.alerts.loading}}
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="m in allMembers | filter:searchText">
      <!-- Group card -->
      <div class="card h-100">
        <h4 class="card-header">
          <a ng-href="#!/members/edit/{{m.$id}}">
            {{m.member.shortname}}
          </a>
        </h4>
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.forms.member.legend}}
          </h4>
          <span class="badge badge-danger" ng-if="m.member.status == 'inactive'">Miembro Inactivo </span>
          <p>
            <span class="font-weight-bold">{{i18n.forms.member.fnameLbl}}:</span>
            {{m.member.firstname}} {{m.member.lastname}}
          </p>
          <p class="card-text" ng-if="m.address">
            <span class="font-weight-bold">{{i18n.forms.address.legend}}:</span>
            {{m.address.street}}
            #{{m.address.extNumber}}<span ng-if="m.address.intNumber">, Int {{m.address.intNumber}}</span><br>
            {{m.address.city}} {{m.address.state}}, {{m.address.country}}<br>
            {{i18n.forms.address.zipLbl}} {{m.address.zip}}
          </p>
          <p class="card-text" ng-if="m.member.phone">
            <span class="font-weight-bold">{{i18n.forms.phone.phoneLbl}}:</span>
            <a href="tel:{{m.phone}}">{{m.member.phone}}</a>
          </p>
          <p class="card-text" ng-if="m.member.email">
            <span class="font-weight-bold">{{i18n.forms.group.emailLbl}}:</span>
            <a href="mailto:{{m.email}}">{{m.member.email}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<article ng-include="'views/responses/error-norecord.html'" ng-if="currentSession.user.type != 'admin'"></article>
