<!-- Admin Members List View -->
<section id="adminMembersList" ng-show="currentSession.user.type != 'user'">

  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.members.adminTitle}}</h4>
    </div>
  </article>

  <!-- Badges -->
  <article class="row">
    <div class="col mb-3">
      <article id="badgesCard" class="card h-100">
        <div class="card-body">
          <h4>
            <span class="badge badge-primary">{{membersGlobalCount.total}}</span>
            <span class="btn-link clickable" ng-click="loadAllMembersList()">{{i18n.members.totalLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-success">{{membersGlobalCount.active}}</span>
            <span class="btn-link clickable" ng-click="loadActiveMembersList()">{{i18n.members.activeLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-danger">{{membersGlobalCount.total-membersGlobalCount.active}}</span>
            <span class="btn-link clickable" ng-click="loadInactiveMembersList()">{{i18n.members.inactiveLbl}}</span>
          </h4>
        </div>
      </article>
    </div>
    <div class="col mb-3">
      <article id="" class="card h-100">
        <div class="card-body">
          <h4>
            <span class="badge badge-primary">{{membersGlobalCount.leads}}</span>
            <span class="btn-link clickable" ng-click="loadLeadMembersList()">{{i18n.members.leadsLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-dark">{{membersGlobalCount.trainees}}</span>
            <span class="btn-link clickable" ng-click="loadTraineeMembersList()">{{i18n.members.traineesLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-warning">{{membersGlobalCount.hosts}}</span>
            <span class="btn-link clickable" ng-click="loadHostMembersList()">{{i18n.members.hostsLbl}}</span>
          </h4>
        </div>
      </article>
    </div>
  </article>

  <!-- Buttons -->
  <div class="row">
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" ng-click="loadAllMembersList()">
        {{i18n.members.loadBtn}}
      </a>
    </div>
    <div class="col mb-3">
      <a href="#!/members/new" class="btn btn-lg btn-block btn-primary">
        {{i18n.members.newBtn}}
      </a>
    </div>
  </div>

  <!-- Alerts to show Response Message (Used after redirect from Member Delete) -->
  <div class="alert alert-success" role="alert" ng-show="memberResponse.deleted" >
    {{memberResponse.message}}
  </div>
  <div ng-include="'views/alerts.html'"></div>

  <!-- Title, Filter and Sort -->
  <article class="card mb-3" ng-show="adminMembersList.length">
    <div class="card-body">
      <p class="lead">
  			{{adminMembersParams.title}}
  		</p>
      <!-- Filter Box -->
      <div class="row" ng-show="adminMembersList.length > config.minResultsToshowFilter">
        <div class="col">
          <input type="text" placeholder="{{i18n.filterBox.filterHint}}" class="form-control form-control-lg"
            ng-model="adminMembersParams.searchFilter">
        </div>
      </div>
      <!-- Sorting -->
      <div ng-include="'views/fragments/sortingRow.html'"></div>
    </div>
  </article>

  <!-- Show number of loaded Members -->
  <div class="alert alert-info" role="alert" ng-show="adminMembersList.length" >
    {{adminMembersList.length}} {{i18n.members.loadingSuccess}}
    <!-- Load all pending Members  -->
    <span class="btn-link clickable" ng-click="loadPendingMembers()"
      ng-if="(adminMembersList.length < adminMembersParams.maxPossible)" >
      {{i18n.members.loadPending1}}
      {{adminMembersParams.maxPossible - adminMembersList.length}}
      {{i18n.members.loadPending2}}
    </span>
  </div>

  <!-- Members Cards -->
  <article id="membersList" class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="member in adminMembersList | filter:adminMembersParams.searchFilter | orderBy:selectedSortBy:reverseSort track by member.$id">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!/members/edit/{{member.$id}}">
              {{member.shortname}}
            </a>
          </h4>
          <span class="badge badge-success" ng-if="member.isActive">{{i18n.members.status.activeLbl}}</span>
          <span class="badge badge-danger"  ng-if="!member.isActive">{{i18n.members.status.inactiveLbl}}</span>
          <hr>
          <p>
            <span class="font-weight-bold">{{i18n.members.fnameLbl}}:</span> {{member.firstname}}<br>
            <span class="font-weight-bold">{{i18n.members.lnameLbl}}:</span> {{member.lastname}}<br>
            <span class="font-weight-bold">{{i18n.contact.emailLbl}}:</span> <a href="mailto:{{member.email}}">{{member.email}}</a><br>
            <span class="font-weight-bold">{{i18n.contact.phoneLbl}}:</span> <a href="tel:{{member.phone}}">{{member.phone}}</a>
          </p>
        </div>
      </div>
    </div>
  </article>

  <!-- Load all pending Members  -->
  <div class="row mb-3" ng-show="adminMembersList.length">
    <div class="col text-center">
      <span class="text-primary">
        {{adminMembersList.length}} {{i18n.members.loadingSuccess}}
      </span><br>
      <span class="btn-link clickable" ng-click="loadPendingMembers()"
        ng-if="(adminMembersList.length < adminMembersParams.maxPossible)" >
        {{i18n.members.loadPending1}}
        {{adminMembersParams.maxPossible - adminMembersList.length}}
        {{i18n.members.loadPending2}}
      </span>
    </div>
  </div>
</section>
