<article id="membersList">
    <!-- <div class="row">
    <div class="col"  ng-show="loadingMembers">
      <div class="alert alert-warning" role="alert">
        {{i18n.alerts.loading}}
      </div>
    </div>

    <div class="col"  ng-show="response.noMembersFound && !membersList">
      <div class="alert alert-danger" role="alert">
        {{i18n.admin.membersList.noMembersError}}
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="m in membersList | filter:searchText | orderBy:'member.shortname' track by m.$id">
      <!-- Member card -->
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!/members/edit/{{m.$id}}">
              {{m.member.shortname}}
            </a>
          </h4>
          <!-- <hr> -->
          <span class="badge badge-danger" ng-if="m.member.status == 'inactive'">{{i18n.forms.member.inactive}}</span>
          <span class="badge badge-success" ng-if="m.member.status  == 'active'">{{i18n.forms.member.active}}</span>
          <!-- full name -->
          <p class="card-text mt-2">
            <span class="font-weight-bold">
              {{i18n.forms.member.fnameLbl}}:
            </span><br>
            {{m.member.firstname}} {{m.member.lastname}}
          </p>
          <!-- address -->
          <p class="card-text" ng-if="m.address">
            <span class="font-weight-bold">{{i18n.forms.address.legend}}:</span><br>
            {{m.address.street}} #{{m.address.extNumber}},
            <span ng-if="m.address.intNumber">Int {{m.address.intNumber}}.</span>
            <span ng-if="m.address.neighborhood">{{i18n.forms.address.neighborhoodLbl}} {{m.address.neighborhood}}.</span>
            {{m.address.city}} {{m.address.state}}, {{m.address.country}}.
            <span ng-if="m.address.zip">{{i18n.forms.address.zipLbl}} {{m.address.zip}}.</span>
          </p>
          <!-- phone -->
          <p class="card-text" ng-if="m.member.phone">
            <span class="font-weight-bold">
              {{i18n.forms.phone.phoneLbl}}:
            </span><br>
            <a href="tel:{{m.phone}}">{{m.member.phone}}</a>
          </p>
          <!-- email -->
          <p class="card-text" ng-if="m.member.email">
            <span class="font-weight-bold">
              {{i18n.forms.group.emailLbl}}:
            </span><br>
            <a href="mailto:{{m.email}}">{{m.member.email}}</a>
          </p>
        </div>
      </div>
    </div>

  </div>

</article>
