<section id="login-section">
	<form class="mt3" name="loginForm" novalidate ng-submit="login()">
		<div class="card mb-3">
			<div class="card-body">
				<h4 class="card-title">{{i18n.login.title}}</h4>
				<hr>
				<div class="form-group">
			    <label for="loginemail">{{i18n.contact.emailLbl}}</label>
			    <input id="loginemail" type="email" name="email" autocomplete="username"
			    	class="form-control form-control-lg" placeholder="{{i18n.contact.emailHint}}"
			    	ng-model="user.email" ng-required="true">
					<div class="alert alert-danger" role="alert" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
						{{i18n.login.invalidEmail}}
					</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="loginpwd">{{i18n.login.password}}</label>
		    	<input type="password" name="password" id="loginpwd" placeholder="{{i18n.login.passwordHint}}"
		    		class="form-control form-control-lg" ng-model="user.pwd" ng-required="true" autocomplete="current-password">
		    	<div class="alert alert-danger" role="alert" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
						{{i18n.login.alert.pwdRequired}}
					</div>
					<a href="#!/pwdreset">{{i18n.login.forgotPwd}}</a>
		  	</div>
		  </div>
	  </div>

		<div class="alert alert-warning" role="alert" ng-show="response.working" >
			{{response.message}}
		</div>
		<div class="alert alert-danger" role="alert" ng-show="response.error" >
			{{response.message}}
		</div>

		<div class="form-row">
    	<div class="form-group col-md">
    		<button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="loginForm.$invalid">
					{{i18n.login.loginBtn}}
				</button>
    	</div>
    	<!-- <div class="form-group col-md">
    		<a role="button" class="btn btn-lg btn-block btn-primary" href="#!/register" >{{i18n.register.registerBtn}}</a>
    	</div> -->
		</div>
	</form>
</section>
