<section id="register-section">
  <form class="mt-3" name="registerForm" novalidate ng-submit="register()">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">{{i18n.register.title}}</h4>
    		<hr>
        <!-- Email row -->
        <div class="form-row">
          <div class="col-md form-group">
            <label for="email">{{i18n.register.email}}</label>
            <input id="email" type="email" name="email" aria-describedby="emailHelp"
              class="form-control form-control-lg" placeholder="{{i18n.register.emailHint}}"
              ng-model="newUser.email" ng-required="true"/>
            <small id="emailHelp" class="form-text text-muted">{{i18n.register.emailDisclosure}}</small>
            <div class="alert alert-danger" role="alert" ng-show="registerForm.email.$invalid && registerForm.email.$dirty">
              {{i18n.register.alert.invalidEmail}}
            </div>
          </div>
        </div>
        <!-- Password row -->
        <div class="form-row">
          <div class="col-md form-group">
            <label for="pwd">{{i18n.register.password}}</label>
            <input type="password" name="password" id="pwd" aria-describedby="pwdHelp" class="form-control form-control-lg" placeholder="Shhh" ng-model="newUser.pwd" ng-required="true" ng-minlength="8"/>
            <small id="pwdHelp" class="form-text text-muted">{{i18n.register.pwdSize}}</small>
            <div class="alert alert-danger" role="alert"
              ng-show="registerForm.password.$invalid && registerForm.password.$dirty">
              {{i18n.register.alert.pwdSize}}
            </div>
          </div>
          <div class="col-md form-group">
            <label for="cpwd">{{i18n.register.confirmPassword}}</label>
            <input type="password" name="passwordConfirm" id="cpwd"
              class="form-control form-control-lg" placeholder="Say it again"
              ng-model="newUser.pwdconf" ng-required="true" ng-pattern="newUser.pwd"/>
            <div class="alert alert-danger" role="alert"
              ng-show="registerForm.passwordConfirm.$invalid && registerForm.passwordConfirm.$dirty">
              {{i18n.register.alert.pwdMatch}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Alerts -->
    <div class="alert alert-warning" role="alert" ng-show="response.working || response.loading" >
      {{response.message}}
    </div>
    <div class="alert alert-success" role="alert" ng-show="response.success" >
      {{response.message}}
    </div>
    <div class="alert alert-danger" role="alert" ng-show="response.error" >
      {{response.message}}
    </div>

    <!-- Buttons row -->
    <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-lg btn-block btn-success" role="button" ng-disabled="registerForm.$invalid">
            {{i18n.btns.register}}
          </button>
        </div>
        <div class="form-group col-md-6">
          <a class="btn btn-primary btn-lg btn-block" role="button" href="#!/login" >
            {{i18n.btns.login}}
          </a>
        </div>
    </div>
  </form>
</section>
