<section id="register-section">
  <!-- Alerts -->
  <div ng-include="'views/alerts.html'"></div>

  <form class="mt-3" name="registerForm" novalidate ng-submit="register()" ng-show="!configs.rootId">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">{{i18n.register.titleRoot}}</h4>
    		<hr>
        <!-- Email row -->
        <div class="form-row">
          <div class="col-md form-group">
            <label for="email">{{i18n.contact.emailLbl}}</label>
            <input id="email" type="email" name="email" aria-describedby="emailHelp" autocomplete="username"
              class="form-control form-control-lg" placeholder="{{i18n.contact.emailHint}}"
              ng-model="newUser.email" ng-required="true"/>
            <small id="emailHelp" class="form-text text-muted">{{i18n.register.emailDisclosure}}</small>
            <div class="alert alert-danger" role="alert" ng-show="registerForm.email.$invalid && registerForm.email.$dirty">
              {{i18n.register.alert.invalidEmail}}
            </div>
          </div>
        </div>
        <!-- Password row -->
        <div class="form-row">
          <div class="col-md form-group">
            <label for="pwd">{{i18n.register.password}}</label>
            <input type="password" name="password" id="pwd" aria-describedby="pwdHelp" class="form-control form-control-lg"
              placeholder="{{i18n.contact.passwordHint}}" ng-model="newUser.pwd" ng-required="true" ng-minlength="8" autocomplete="new-password"/>
            <small id="pwdHelp" class="form-text text-muted">{{i18n.register.pwdSize}}</small>
            <div class="alert alert-danger" role="alert"
              ng-show="registerForm.password.$invalid && registerForm.password.$dirty">
              {{i18n.register.alert.pwdSize}}
            </div>
          </div>
          <div class="col-md form-group">
            <label for="cpwd">{{i18n.register.confirmPassword}}</label>
            <input type="password" name="passwordConfirm" id="cpwd"
              class="form-control form-control-lg" placeholder="{{i18n.contact.passwordHint}}" autocomplete="new-password"
              ng-model="newUser.pwdconf" ng-required="true" ng-pattern="newUser.pwd"/>
            <div class="alert alert-danger" role="alert"
              ng-show="registerForm.passwordConfirm.$invalid && registerForm.passwordConfirm.$dirty">
              {{i18n.register.alert.pwdMatch}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons row -->
    <div class="form-row">
      <div class="form-group col-md">
        <button type="submit" class="btn btn-lg btn-block btn-success clickable" role="button" ng-disabled="registerForm.$invalid">
          {{i18n.register.registerBtn}}
        </button>
        <!-- <button type="submit" class="btn btn-lg btn-block btn-danger clickable" role="button">
          {{i18n.register.registerBtn}}
        </button> -->
      </div>
    </div>
  </form>
</section>
