<!-- Loading Week Alert -->
<div class="alert alert-warning" role="alert" ng-show="response.loading" >
  {{response.message}}
</div>

<!-- Following section will be displayed onyl after configs are loaded -->
<section id="configEdit" name="configEdit" ng-show="!response.loading">

  <!-- Title Section -->
  <article class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{i18n.configs.title}}
      </h4>
    </div>
  </article>

  <!-- Configurations Cards -->
  <form id="configsForm" name="configsForm" novalidate>
    <!-- General Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.generalTitle}}</legend>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="appName">
              {{i18n.configs.appnameLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="appName" type="text" class="form-control form-control-lg"
              placeholder="{{i18n.configs.appnameHint}}" ng-model="currentAppConfigs.appName" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.appNameDesc}}</small>
          </div>
        </div>
        <div class="form-row">
          <!-- The Max lenght a firebaseArray should have in the initial request -->
          <div class="col form-group">
            <label class="font-weight-bold" for="maxQuery">
              {{i18n.configs.maxQueryResultLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="maxQuery" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.maxQueryListResults" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.maxQueryResultDesc}}</small>
          </div>
          <!-- After this number of records, the Filter box will be visible -->
          <div class="col form-group">
            <label class="font-weight-bold" for="minFilter">
              {{i18n.configs.showFilterAtLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="minFilter" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.minResultsToshowFilter" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.showFilterAtDesc}}</small>
          </div>
        </div>
      </div>
    </article>

    <!-- Report Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.reportsTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- Values for Good and Excelent Attendance -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="goodAttn">
              {{i18n.configs.goodAttendanceLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="goodAttn" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.goodAttendanceNumber" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.goodAttendanceDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="excelentAttn">
              {{i18n.configs.excelentAttendanceLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="excelentAttn" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.excelentAttendanceNumber" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.excelentAttendanceDesc}}</small>
          </div>
        </div>
        <!-- Min and Max Session Duration -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="minDuration">
              {{i18n.configs.minDurationLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="minDuration" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.minDuration" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.minDurationDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="maxDuration">
              {{i18n.configs.maxDurationLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="maxDuration" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.maxDuration" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.maxDurationDesc}}</small>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="maxDuration">
              {{i18n.configs.maxMultipleGuestsLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="maxMultipleGuests" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.maxMultipleGuests" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.maxMultipleGuestsDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="showMoney">
              {{i18n.configs.showMoneyLbl}}
              <span class="text-danger">*</span>
            </label><br>
            <input id="showMoney-yes" type="radio" name="showMoney" ng-model="currentAppConfigs.reports.showMoneyField" ng-value="true" />
            <span>{{i18n.configs.showMoneyYesLbl}}</span>
            <input id="showMoney-no" type="radio" name="showMoney" ng-model="currentAppConfigs.reports.showMoneyField" ng-value="false" />
            <span>{{i18n.configs.showMoneyNoLbl}}</span>
            <small class="form-text text-muted">{{i18n.configs.showMoneyDesc}}</small>
          </div>
        </div>

      </div>
    </article>

    <!-- Dates Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.datesTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- Min System Dates -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="reportsDate">
              {{i18n.configs.minReportsDateLbl}}
              <span class="text-danger">*</span>
            </label>
            <input type="date" id="reportsDate" name="reportsDate"
              class="form-control form-control-lg"
              ng-model="temporal.minDateTemp" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.minReportsDateDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="bdayDate">
              {{i18n.configs.minBdateLbl}}
              <span class="text-danger">*</span>
            </label>
            <input type="date" id="bdayDate" name="bdayDate"
              class="form-control form-control-lg"
              ng-model="temporal.minBDateTemp" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.minBdateDesc}}</small>
          </div>
        </div>
        <!-- Date formats -->
        <div class="form-row">
          <!-- Date time format -->
          <div class="col-12 col-md-4 form-group">
            <label class="font-weight-bold" for="dateTimeFormat">
              {{i18n.configs.dateTimeFormatLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="dateTimeFormat" class="form-control form-control-lg"
              ng-model="currentAppConfigs.formats.datetime" ng-required="true">
              <option ng-repeat="format in datetimeFormatList" value="{{format}}" >
                {{config.todayDate | date: format}}
              </option>
            </select>
            <small class="form-text text-muted">{{i18n.configs.dateTimeFormatDesc}}</small>
          </div>
          <!-- Date format -->
          <div class="col-12 col-md-4 form-group">
            <label class="font-weight-bold" for="dateFormat">
              {{i18n.configs.dateFormatLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="dateFormat" class="form-control form-control-lg"
              ng-model="currentAppConfigs.formats.date" ng-required="true">
              <option ng-repeat="format in dateFormatList" value="{{format}}" >
                {{config.todayDate | date: format}}
              </option>
            </select>
            <small class="form-text text-muted">{{i18n.configs.dateFormatDesc}}</small>
          </div>
          <!-- time format -->
          <div class="col-12 col-md-4 form-group">
            <label class="font-weight-bold" for="timeFormat">
              {{i18n.configs.timeFormatLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="timeFormat" class="form-control form-control-lg"
              ng-model="currentAppConfigs.formats.time" ng-required="true">
              <option ng-repeat="format in timeFormatList" value="{{format}}" >
                {{config.todayDate | date: format}}
              </option>
            </select>
            <small class="form-text text-muted">{{i18n.configs.timeFormatDesc}}</small>
          </div>
        </div>
      </div>
    </article>

    <!-- Alerts to inform user on progress or result -->
    <div ng-include="'views/alerts.html'"></div>

    <!-- Save Button (Only for Admin) -->
    <div class="row mb-3" ng-if="currentSession.user.type != 'user'">
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-warning clickable"
          ng-show="!configsForm.$pristine && !configsForm.$invalid"
          ng-disabled="configsForm.$invalid || configsForm.$pristine"
          ng-click="saveConfigs()">
          {{i18n.configs.saveBtn}}
        </button>
      </div>
    </div>
  </form>

  <form id="groupTypeForm" name="groupTypeForm" novalidate>
    <!-- Group Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <!-- <legend>{{i18n.configs.groupsTitle}}</legend> -->
            <legend>{{i18n.configs.groupTypesLbl}}</legend>
          </div>
        </div>
        <hr>
        <!-- Group types title -->
        <div class="row mt-4">
          <div class="col-8">
            <h5>
              <!-- <span class="badge badge-primary">{{objectDetails.attendance.guests.length}}</span> -->
              <!-- <label class="font-weight-bold" for="memberSelect">{{i18n.configs.groupTypesLbl}}</label> -->
            </h5>
          </div>
        </div>
        <!-- Group type Input -->
        <div class="row mb-4">
          <div class="col">
            <input name="groupTypeInput" type="text" class="form-control form-control-lg"
              ng-model="configParams.newGroupTypeName"
              ng-required="false" ng-pattern="groupTypeRegex" />
            <small id="" class="form-text text-muted">
              {{i18n.configs.groupTypeDec}}
            </small>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-lg btn-block btn-primary clickable"
              ng-disabled="!configParams.newGroupTypeName || !groupTypeForm.groupTypeInput.$valid"
              ng-click="addGrouptype()">
              {{i18n.btns.addBtn}}
            </button>
          </div>
        </div>
        <!-- Alerts -->
        <div class="row">
          <div class="col">
            <!-- Alerts -->
            <div class="alert alert-danger" role="alert" ng-show="!grouptypesList || (grouptypesList && grouptypesList.length == 0)">
              {{i18n.configs.noGroupTypesList}}
            </div>
            <div class="alert alert-danger" role="alert" ng-show="response.grouptypesListError">
              {{response.grouptypesListError}}
            </div>
            <div class="alert alert-success" role="alert" ng-show="response.grouptypesListOk">
              {{response.grouptypesListOk}}
            </div>
          </div>
        </div>
        <!-- Guests Table -->
        <div class="pre-scrollable" ng-show="grouptypesList">
          <table class="table table-md table-striped">
            <thead></thead>
            <tbody>
              <tr class="row ml-1" ng-repeat="type in grouptypesList | orderBy:'type.name' track by type.$id">
                <td class="col-6" scope="row">
                  {{type.name}}
                </td>
                <td class="col-6" scope="row">
                  <button type="button" class="btn btn-danger clickable" name="button" ng-click="removeGrouptype(type)">
                    {{i18n.btns.deleteBtn}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </form>
</section>
