<!-- Loading Week Alert -->
<div class="alert alert-warning" role="alert" ng-show="response.loading" >
  {{response.message}}
</div>

<!-- Following section will be displayed onyl after configs are loaded -->
<section id="configEdit" name="configEdit" ng-show="!response.loading">

  <!-- Title Section -->
  <article class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{i18n.configs.title}}
      </h4>
    </div>
  </article>

  <!-- Configurations Cards -->
  <form id="configsForm" name="configsForm" novalidate>
    <!-- General Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.generalTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- APP Name -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="appName">
              {{i18n.configs.appnameLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="appName" type="text" class="form-control form-control-lg"
              placeholder="{{i18n.configs.appnameHint}}" ng-model="currentAppConfigs.appName" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.appNameDesc}}</small>
          </div>
        </div>
        <!-- Location -->
        <div class="form-row">
          <div class="col-md-4 col-sm-6 form-group">
            <label class="font-weight-bold" for="city">
              {{i18n.address.cityLbl}}
              <span class="text-danger">*</span>
            </label>
            <input type="text" name="city" id="city" class="form-control form-control-lg"
              placeholder="{{i18n.address.cityHint}}" ng-model="currentAppConfigs.location.city" ng-required="true">
          </div>
          <div class="col-md-4 col-sm-6 form-group">
            <label class="font-weight-bold" for="state">
              {{i18n.address.stateLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="state" class="form-control form-control-lg"
              ng-model="currentAppConfigs.location.state" ng-required="true">
              <option ng-repeat="state in statesList | orderBy:'state' track by state" value="{{state}}">
                {{state}}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-6 form-group">
            <label class="font-weight-bold" for="country">
              {{i18n.address.countryLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="contry" class="form-control form-control-lg"
              ng-model="currentAppConfigs.location.country" ng-required="true" ng-change="updateStatesList()">
              <option ng-repeat="country in countriesList | orderBy:'country' track by country" value="{{country}}">
                {{country}}
              </option>
            </select>
          </div>
        </div>
        <small class="form-text text-muted mb-4 mt-0">{{i18n.configs.locationDesc}}</small>
        <!--  -->
        <div class="form-row">
          <!-- The Max lenght a firebaseArray should have in the initial request -->
          <div class="col form-group">
            <label class="font-weight-bold" for="maxQuery">
              {{i18n.configs.maxQueryResultLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="maxQuery" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.maxQueryListResults" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.maxQueryResultDesc}}</small>
          </div>
          <!-- After this number of records, the Filter box will be visible -->
          <div class="col form-group">
            <label class="font-weight-bold" for="minFilter">
              {{i18n.configs.showFilterAtLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="minFilter" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.minResultsToshowFilter" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.showFilterAtDesc}}</small>
          </div>
        </div>
      </div>
    </article>

    <!-- Report Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.reportsTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- Values for Good and Excelent Attendance -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="goodAttn">
              {{i18n.configs.goodAttendanceLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="goodAttn" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.goodAttendanceNumber" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.goodAttendanceDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="excelentAttn">
              {{i18n.configs.excelentAttendanceLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="excelentAttn" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.excelentAttendanceNumber" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.excelentAttendanceDesc}}</small>
          </div>
        </div>
        <!-- Min and Max Session Duration -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="minDuration">
              {{i18n.configs.minDurationLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="minDuration" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.minDuration" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.minDurationDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="maxDuration">
              {{i18n.configs.maxDurationLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="maxDuration" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.maxDuration" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.maxDurationDesc}}</small>
          </div>
        </div>
        <!-- Multiple guests and Money field -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="maxMultipleGuests">
              {{i18n.configs.maxMultipleGuestsLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="maxMultipleGuests" type="number" class="form-control form-control-lg"
               min="0" ng-model="currentAppConfigs.reports.maxMultipleGuests" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.maxMultipleGuestsDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="showMoney">
              {{i18n.configs.showMoneyLbl}}
              <span class="text-danger">*</span>
            </label><br>
            <input id="showMoney-yes" type="radio" name="showMoney" ng-model="currentAppConfigs.reports.showMoneyField" ng-value="true" />
            <span>{{i18n.configs.showMoneyYesLbl}}</span>
            <input id="showMoney-no" type="radio" name="showMoney" ng-model="currentAppConfigs.reports.showMoneyField" ng-value="false" />
            <span>{{i18n.configs.showMoneyNoLbl}}</span>
            <small class="form-text text-muted">{{i18n.configs.showMoneyDesc}}</small>
          </div>
        </div>
        <!-- notOnTimeMessage -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="notOnTimeMessage">
              {{i18n.configs.notOnTimeMessage}}
            </label>
            <textarea id="notOnTimeMessage" name="notOnTimeMessage" class="form-control form-control-lg"
              placeholder="" ng-model="currentAppConfigs.reports.notOnTimeMessage" ng-required="false">
            </textarea>
            <small class="form-text text-muted">{{i18n.configs.notOnTimeMessageDesc}}</small>
          </div>
        </div>
      </div>
    </article>

    <!-- Chart Colors -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.chartColors.title}}</legend>
          </div>
        </div>
        <hr>
        <!-- Colors for Members -->
        <div class="form-row mt-3">
          <div class="col form-group">
            <legend>{{i18n.configs.chartColors.membersTitle}}</legend>
          </div>
        </div>
        <div class="form-row">
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.active}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.active">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.inactive}}:
            </label>
            <input type="color"  ng-model="currentAppConfigs.charts.colors.members.inactive">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.male}}:
            </label>
            <input type="color"  ng-model="currentAppConfigs.charts.colors.members.male">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.female}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.female">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.guest}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.guest">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.member}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.member">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.host}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.host">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.lead}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.lead">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.members.trainee}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.members.trainee">
          </div>
        </div>
        <!-- Colors for Reports -->
        <div class="form-row mt-3">
          <div class="col form-group">
            <legend>{{i18n.configs.chartColors.reportsTitle}}</legend>
          </div>
        </div>
        <div class="form-row">
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reports.pending}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reports.pending">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reports.approved}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reports.approved">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reports.rejected}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reports.rejected">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reports.ontime}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reports.ontime">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reports.due}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reports.due">
          </div>
        </div>
        <!-- Colors for Reunions -->
        <div class="form-row mt-3">
          <div class="col form-group">
            <legend>{{i18n.configs.chartColors.reunionsTitle}}</legend>
          </div>
        </div>
        <div class="form-row">
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.completed}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.completed">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.canceled}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.canceled">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.duration}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.duration">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.durationAvgR}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.durationAvgR">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.durationAvgA}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.durationAvgA">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.money}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.money">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.moneyAvgR}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.moneyAvgR">
          </div>
          <div class="col-3 form-group">
            <label class="font-weight-bold" for="">
              {{i18n.configs.chartColors.reunions.moneyAvgA}}:
            </label>
            <input type="color" ng-model="currentAppConfigs.charts.colors.reunions.moneyAvgA">
          </div>
        </div>
      </div>
    </article>

    <!-- Dates Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.configs.datesTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- Min System Dates -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="reportsDate">
              {{i18n.configs.minReportsDateLbl}}
              <span class="text-danger">*</span>
            </label>
            <input type="date" id="reportsDate" name="reportsDate"
              class="form-control form-control-lg"
              ng-model="temporal.minDateTemp" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.minReportsDateDesc}}</small>
          </div>
          <div class="col form-group">
            <label class="font-weight-bold" for="bdayDate">
              {{i18n.configs.minBdateLbl}}
              <span class="text-danger">*</span>
            </label>
            <input type="date" id="bdayDate" name="bdayDate"
              class="form-control form-control-lg"
              ng-model="temporal.minBDateTemp" ng-required="true">
            <small class="form-text text-muted">{{i18n.configs.minBdateDesc}}</small>
          </div>
        </div>
        <!-- Date formats -->
        <div class="form-row">
          <!-- Date time format -->
          <div class="col-12 col-md-4 form-group">
            <label class="font-weight-bold" for="dateTimeFormat">
              {{i18n.configs.dateTimeFormatLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="dateTimeFormat" class="form-control form-control-lg"
              ng-model="currentAppConfigs.formats.datetime" ng-required="true">
              <option ng-repeat="format in datetimeFormatList" value="{{format}}" >
                {{config.tomorrowDate | date: format}}
              </option>
            </select>
            <small class="form-text text-muted">{{i18n.configs.dateTimeFormatDesc}}</small>
          </div>
          <!-- Date format -->
          <div class="col-12 col-md-4 form-group">
            <label class="font-weight-bold" for="dateFormat">
              {{i18n.configs.dateFormatLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="dateFormat" class="form-control form-control-lg"
              ng-model="currentAppConfigs.formats.date" ng-required="true">
              <option ng-repeat="format in dateFormatList" value="{{format}}" >
                {{config.tomorrowDate | date: format}}
              </option>
            </select>
            <small class="form-text text-muted">{{i18n.configs.dateFormatDesc}}</small>
          </div>
          <!-- time format -->
          <div class="col-12 col-md-4 form-group">
            <label class="font-weight-bold" for="timeFormat">
              {{i18n.configs.timeFormatLbl}}
              <span class="text-danger">*</span>
            </label>
            <select id="timeFormat" class="form-control form-control-lg"
              ng-model="currentAppConfigs.formats.time" ng-required="true">
              <option ng-repeat="format in timeFormatList" value="{{format}}" >
                {{config.tomorrowDate | date: format}}
              </option>
            </select>
            <small class="form-text text-muted">{{i18n.configs.timeFormatDesc}}</small>
          </div>
        </div>
      </div>
    </article>

    <!-- Alerts to inform user on progress or result -->
    <div ng-include="'views/alerts.html'"></div>

    <!-- Save Button (Only for Admin) -->
    <div class="row mb-3" ng-if="currentSession.user.type != 'user'">
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-warning clickable"
          ng-disabled="configsForm.$invalid"
          ng-click="saveConfigs()">
          {{i18n.configs.saveBtn}}
        </button>
      </div>
    </div>
  </form>

  <form id="groupTypeForm" name="groupTypeForm" novalidate ng-submit="testSubmit()">
    <!-- Group Configs -->
    <article class="card mb-3">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <!-- <legend>{{i18n.configs.groupsTitle}}</legend> -->
            <legend>{{i18n.configs.groupTypesLbl}}</legend>
          </div>
        </div>
        <hr>
        <!-- Group types title -->
        <div class="row mt-4">
          <div class="col-8">
            <h5>
              <!-- <span class="badge badge-primary">{{objectDetails.attendance.guests.length}}</span> -->
              <!-- <label class="font-weight-bold" for="memberSelect">{{i18n.configs.groupTypesLbl}}</label> -->
            </h5>
          </div>
        </div>
        <!-- Group type Input -->
        <div class="row mb-4">
          <div class="col">
            <input name="groupTypeInput" type="text" class="form-control form-control-lg"
              ng-model="configParams.newGroupTypeName"
              ng-required="false" ng-pattern="groupTypeRegex" />
            <small class="form-text text-muted">
              {{i18n.configs.groupTypeDec}}
            </small>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-lg btn-block btn-primary clickable"
              ng-disabled="groupTypeForm.groupTypeInput.$valid"
            >
              {{i18n.btns.addBtn}}
            </button>
          </div>
        </div>
        <!-- Alerts -->
        <div class="row">
          <div class="col">
            <!-- Alerts -->
            <div class="alert alert-danger" role="alert" ng-show="!grouptypesList || (grouptypesList && grouptypesList.length == 0)">
              {{i18n.configs.noGroupTypesList}}
            </div>
            <div class="alert alert-danger" role="alert" ng-show="response.grouptypesListError">
              {{response.grouptypesListError}}
            </div>
            <div class="alert alert-success" role="alert" ng-show="response.grouptypesListOk">
              {{response.grouptypesListOk}}
            </div>
          </div>
        </div>
        <!-- Guests Table -->
        <div class="pre-scrollable" ng-show="grouptypesList">
          <table class="table table-md table-striped">
            <thead></thead>
            <tbody>
              <tr class="row ml-1" ng-repeat="type in grouptypesList | orderBy:'type.name' track by type.$id">
                <td class="col-6" scope="row">
                  {{type.name}}
                </td>
                <td class="col-6" scope="row">
                  <button type="button" class="btn btn-danger clickable" name="button" ng-click="removeGrouptype(type)">
                    {{i18n.btns.deleteBtn}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </form>

</section>
