<!-- Groups and Members Summaires -->
<section name="summaries" class="row" ng-if="currentUser.type == 'admin'">
  <article id="groupSummary" class="col-sm mb-3">
    <div class="card">
      <div class="card-header">
        {{i18n.navigation.admin.groups}}
      </div>
      <div class="card-body">
        <a href="#!/groups" class="btn btn-primary btn-lg btn-block">
          {{i18n.btns.viewBtn}} {{i18n.navigation.admin.groups}}
        </a>
      </div>
    </div>  
  </article>
  <article id="memberSummary" class="col-sm mb-3">
    <div class="card">
      <div class="card-header">
        {{i18n.navigation.admin.members}}
      </div>
      <div class="card-body">
        <a href="#!/members" class="btn btn-primary btn-lg btn-block">
          {{i18n.btns.viewBtn}} {{i18n.navigation.admin.members}}
        </a>
      </div>
    </div>  
  </article>
</section>

<section ng-controller="ReportsDashCntrl">
  <article ng-include="'views/weeks/weekReportSelector.html'"></article>
  <article ng-include="'views/reports/reportsTable.html'"></article>
  <article ng-include="'views/reports/reportCharts.html'"></article>
</section>
