<div class="card-deck">
  
  <a class="card card-clickable text-white bg-primary mb-3" href="#!/admin/org">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <h4 class="card-title">{{i18n.launchpad.orgCardTitle}}</h4>
      <p class="card-text">{{i18n.launchpad.orgCardDesc}}</p>
      <!-- <p class="card-text"><small class="">Last updated 3 mins ago</small></p> -->
    </div>
  </a>

  <a class="card card-clickable text-white bg-primary mb-3" href="#!/admin/newgroup">
    <div class="card-body">
      <h4 class="card-title">{{i18n.launchpad.newgroupCardTitle}}</h4>
      <p class="card-text">{{i18n.launchpad.newgroupCardDesc}}</p>
    </div>
  </a>

</div>