<div class="card-deck">

  <a class="card card-clickable text-white bg-primary mb-3" href="#!/admin/org">
    <div class="card-body">
      <h4 class="card-title">{{i18n.launchpad.orgCardTitle}}</h4>
      <p class="card-text">{{i18n.launchpad.orgCardDesc}}</p>
    </div>
  </a>

  <a class="card card-clickable text-white bg-primary mb-3" href="#!/admin/newgroup">
    <div class="card-body">
      <h4 class="card-title">{{i18n.launchpad.newgroupCardTitle}}</h4>
      <p class="card-text">{{i18n.launchpad.newgroupCardDesc}}</p>
    </div>
  </a>

  <a class="card card-clickable text-white bg-primary mb-3" href="#!/admin/newmember">
    <div class="card-body">
      <h4 class="card-title">{{i18n.launchpad.newmemberCardTitle}}</h4>
      <p class="card-text">{{i18n.launchpad.newmemberCardDesc}}</p>
    </div>
  </a>

  <a class="card card-clickable text-white bg-primary mb-3" href="#!/admin/newreport">
    <div class="card-body">
      <h4 class="card-title">{{i18n.launchpad.newreportCardTitle}}</h4>
      <p class="card-text">{{i18n.launchpad.newreportCardDesc}}</p>
    </div>
  </a>
</div>


<!-- Groups Table -->
<div class="row mb-1">
  <div class="col">
    <input type="text" placeholder="Type to filter" class="form-control form-control-lg" >
  </div>
  <div class="col">
    <a class="btn btn-lg btn-block btn-success" href="#!/admin/newgroup">
      {{i18n.launchpad.newgroupCardTitle}}
    </a>
  </div>
</div>
<div class="row"  ng-controller="GroupsCntrl">
  <div class="col">
    <table class="table table-hover table-responsive-sm">
      <caption>List of Groups</caption>
      <thead>
        <tr class="bg-primary text-light">
          <th scope="col">#</th>
          <th scope="col">Group Name</th>
          <th scope="col">Group Type</th>
          <th scope="col">Weekday</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="g in allGroups" ng-class="{'table-warning': g.group.status=='inactive'}">
          <th scope="row">{{g.group.number}}</th>
          <td><a ng-href="#!/admin/group/{{g.$id}}">{{g.group.name}}</a></td>
          <td>{{g.group.type}}</td>
          <td>{{g.schedule.weekday}}</td>
          <td>{{g.group.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Members Table 
<div class="row mb-1">
  <div class="col">
    <input type="text" placeholder="Type to filter" class="form-control form-control-lg" >
  </div>
  <div class="col">
    <a class="btn btn-lg btn-block btn-success" href="#!/admin/newmember">
      {{i18n.launchpad.newmemberCardTitle}}
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover table-responsive-sm">
      <caption>List of Members</caption>
      <thead>
        <tr class="bg-primary text-light">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Miembro desde</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a href="#!/admin/member/3">Leslie Vergara</a></td>
          <td><a href="mailto:less.vergara@gmail.com">less.vergara@gmail.com</a></td>
          <td><a href="tel:3331190005">3331190005</a></td>
          <td>Dic 12 2012</td>
          <td>Activo</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a href="#!/admin/member/1">Liliana Ramirez</a></td>
          <td>Liliana.Ramirez@gmail.com</td>
          <td></td>
          <td>Ene 12 2013</td>
          <td>Activo</td>
        </tr>
        <tr class="">
          <th scope="row">2</th>
          <td><a href="#!/admin/member/2">Evelia Ceballos</a></td>
          <td></td>
          <td>2288112233</td>
          <td>Dic 12 2016</td>
          <td>Activo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
-->

<!-- Reports by Week Table -->
<!-- Active Users Table -->