<!-- Admin Members List View -->
<section id="adminMemberssList">

  <article class="card mb-3">
    <!-- <div class="card-header"></div> -->
    <div class="card-body">
      <h4 class="card-title">{{i18n.admin.membersList.title}}</h4>
      <hr>
      <div class="card-text">
          <p>{{i18n.admin.membersList.description}}</p>
      </div>
      <!-- Group Search and New Button -->
      <div class="row mb-3">
        <div class="col-8">
          <input type="text" placeholder="{{i18n.forms.search.hint}}" class="form-control form-control-lg" ng-model="searchText">
        </div>
        <div class="col-4">
          <a class="btn btn-lg btn-block btn-success" href="#!/members/new">
            {{i18n.btns.newMemberBtn}}
          </a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <input type="radio" ng-click="loadMemberByType()" value="all" name="memberTypeFilter" id="memberTypeAll" ng-model="memberTypeFilter">
          <label class="pr-3" for="memberTypeAll">{{i18n.admin.membersList.allMembersLabel}}</label>

          <input type="radio" ng-click="loadMemberByType()" value="host" name="memberTypeFilter" id="memberTypeHost" ng-model="memberTypeFilter">
          <label class="pr-3" for="memberTypeHost">{{i18n.admin.membersList.hostLabel}}</label>

          <input type="radio" ng-click="loadMemberByType()" value="lead" name="memberTypeFilter" id="memberTypeLead" ng-model="memberTypeFilter">
          <label class="pr-3" for="memberTypeLead">{{i18n.admin.membersList.leadLabel}}</label>

          <input type="radio" ng-click="loadMemberByType()" value="trainee" name="memberTypeFilter" id="memberTypeTrainee" ng-model="memberTypeFilter">
          <label class="pr-3" for="userTypeTrainee">{{i18n.admin.membersList.traineeLabel}}</label>
        </div>
      </div>
    </div>
  </article>

  <!-- Alerts to show Response Message (Used after redirect from Member Create/Delete) -->
  <div class="alert alert-success" role="alert" ng-show="response.memberMsgOk">
    {{response.memberMsgOk}}
  </div>
  <div class="alert alert-danger" role="alert" ng-show="response.memberMsgError">
    {{response.memberMsgError}}
  </div>

  <article ng-include="'views/members/membersList.html'"></article>

</section>
