
  <article id="migration" ng-show="true">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Migration</h4>
        <hr>
        <button class="btn btn-lg btn-warning" type="button" name="button" ng-click="migrateNotifications()">
          Migrate Notifications
        </button>
        <button class="btn btn-lg btn-warning" type="button" name="button" ng-click="migrateWeeks()">
          Migrate Weeks
        </button>
        <button class="btn btn-lg btn-warning" type="button" name="button" ng-click="migrateMembers()">
          Migrate Members
        </button>
        <button class="btn btn-lg btn-warning" type="button" name="button" ng-click="migrateGroups()">
          Migrate Groups
        </button>
      </div>
    </div>
  </article>
