<form class="mt-3" name="groupForm" novalidate ng-submit="">

  <fieldset class="mb-4">
    <legend>{{i18n.groupForm.basicInfoFieldset}}</legend>
    
    <div class="form-row">
      <!-- Name row -->
      <div class="col-md form-group">
        <label for="gname">
          {{i18n.groupForm.gnameLabel}}
        </label>
        <input type="text" id="gname" name="gname" class="form-control form-control-lg" 
          placeholder="{{i18n.groupForm.gNamePlaceholder}}" ng-model="group.name" ng-required="true">
      </div>
    </div>

    <!-- Type and Status row -->
    <div class="form-row">
      <div class="col-md form-group">
        <label for="gtype">
          {{i18n.groupForm.gtypeLabel}}
        </label>
        <select id="gtype" name="gtype" class="form-control form-control-lg" 
                ng-model="group.type" ng-required="true">
          <option>Mixto</option>
          <option>Hombres</option>
          <option>Mujeres</option>
          <option>Jovenes</option>
          <option>Piloto</option>
        </select>
      </div>
      <div class="col-md form-group">
        <label for="gstatus">
          {{i18n.groupForm.gstatusLabel}}
        </label>
        <select id="gstatus" name="gstatus" class="form-control form-control-lg" 
                ng-model="group.status" ng-required="true">
          <option>Activo</option>
          <option>Inactivo</option>
        </select>
      </div>
    </div>

  </fieldset>


  <!-- Address -->
  <fieldset class="mb-4">
    <legend>{{i18n.addressForm.addressFieldset}}</legend>
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label for="street">
          {{i18n.addressForm.streetLabel}}
        </label>
        <input type="text" name="street" id="street" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.streetPlaceholder}}" ng-model="group.addres.street" ng-required="true">
      </div>
      <div class="col-md-3 form-group">
        <label for="extNumber">
          {{i18n.addressForm.extNumberLabel}}
        </label>
        <input type="number" name="extNumber" id="extNumber" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.extNumberPlaceholder}}" ng-model="group.addres.extNumber" ng-required="true">
      </div>
      <div class="col-md-3 form-group">
        <label for="intNumber">
          {{i18n.addressForm.intNumberLabel}}
        </label>
        <input type="number" name="intNumber" id="intNumber" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.intNumberPlaceholder}}" ng-model="group.addres.intNumber" ng-required="false">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md form-group">
        <label for="zip">
          {{i18n.addressForm.zipLabel}}
        </label>
        <input type="number" name="zip" id="zip" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.zipPlaceholder}}" ng-model="group.addres.zip" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="city">
          {{i18n.addressForm.cityLabel}}
        </label>
        <input type="text" name="city" id="city" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.cityPlaceholder}}" ng-model="group.addres.city" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="state">
          {{i18n.addressForm.stateLabel}}
        </label>
        <input type="text" name="state" id="state" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.statePlaceholder}}" ng-model="group.addres.state" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="country">
          {{i18n.addressForm.countryLabel}}
        </label>
        <input type="text" name="country" id="country" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.countryPlaceholder}}" ng-model="group.addres.country" ng-required="true">
      </div>
      
    </div>
  </fieldset>

  <!-- Schedule -->
  <fieldset class="mb-4">
    <legend>{{i18n.schd.fieldsetLegend}}</legend>
    <div class="form-row">
      <div class="col-md form-group">
         <label for="schdDay">
          {{i18n.groupForm.schdDayLabel}}
        </label>
        <select id="schdDay" name="schdDay" class="form-control form-control-lg" 
                ng-model="group.schedule.weekday" ng-required="true">
          <option>Lunes</option>
          <option>Martes</option>
          <option>Miercoles</option>
          <option>Jueves</option>
          <option>Viernes</option>
          <option>Sabado</option>
          <option>Domingo</option>
        </select>
      </div>
      <div class="col-md form-group">
        <label for="schdTimeFrom">
          {{i18n.groupForm.schdTimeFromLabel}}
        </label>
        <input type="time" name="schdTimeFrom" id="schdTimeFrom" class="form-control form-control-lg" 
          ng-model="group.schedule.timeFrom" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="schdTimeTo">
          {{i18n.groupForm.schdTimeToLabel}}
        </label>
        <input type="time" name="schdTimeTo" id="schdTimeTo" class="form-control form-control-lg" 
           ng-model="group.schedule.timeTo" ng-required="false">
      </div>
    </div>
  </fieldset>

  <!-- Buttons row -->
  <div class="form-row">
      <div class="col-md form-group">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary" 
          ng-disabled="registerForm.$invalid">
          {{i18n.btns.saveBtn}}
        </button>
      </div>
      <div class="col-md form-group">
        <button type="button" class="btn btn-lg btn-block btn-outline-danger" 
          ng-disabled="registerForm.$invalid">
          {{i18n.btns.cancelBtn}}
        </button>
      </div>
  </div>

</form>

