<form class="mt-3" name="groupForm" novalidate ng-submit="">

  <!-- Basic Group Information -->
  <fieldset class="mb-4">
    <legend>{{i18n.groupForm.basicInfoFieldset}}</legend>
    
    <!-- Name row -->
    <div class="form-row">
      <div class="col-md form-group">
        <label for="gname">
          {{i18n.groupForm.gnameLabel}}
        </label>
        <input type="text" id="gname" name="gname" class="form-control form-control-lg" 
          placeholder="{{i18n.groupForm.gNamePlaceholder}}" ng-model="group.name" ng-required="true">
      </div>
    </div>

    <!-- Type and Status row -->
    <div class="form-row">
      <div class="col-md form-group">
        <label for="gtype">
          {{i18n.groupForm.gtypeLabel}}
        </label>
        <select id="gtype" name="gtype" class="form-control form-control-lg" 
                ng-model="group.type" ng-required="true">
          <option value="mix">{{i18n.dropdowns.gtype.mix}}</option>
          <option value="men">{{i18n.dropdowns.gtype.men}}</option>
          <option value="women">{{i18n.dropdowns.gtype.women}}</option>
          <option value="young">{{i18n.dropdowns.gtype.young}}</option>
          <option value="pilot">{{i18n.dropdowns.gtype.pilot}}</option>
        </select>
      </div>
      <div class="col-md form-group">
        <label for="status">
          {{i18n.dropdowns.status.label}}
        </label>
        <select id="status" name="status" class="form-control form-control-lg" 
                ng-model="group.status" ng-required="true">
          <option>{{i18n.dropdowns.status.active}}</option>
          <option>{{i18n.dropdowns.status.inactive}}</option>
        </select>
      </div>
    </div>
  </fieldset>

  <!-- Address -->
  <section ng-include="'views/fragments/addressForm.html'"></section>

  <!-- Schedule -->
  <fieldset class="mb-4">
    <legend>{{i18n.groupForm.shcLegend}}</legend>
    <div class="form-row">
      <div class="col-md form-group">
         <label for="schdDay">
          {{i18n.groupForm.schdDayLabel}}
        </label>
        <select id="schdDay" name="schdDay" class="form-control form-control-lg" 
                ng-model="group.schedule.weekday" ng-required="true">
          <option value="mon">{{i18n.dropdowns.weekdays.mon}}</option>
          <option value="tue">{{i18n.dropdowns.weekdays.tue}}</option>
          <option value="wed">{{i18n.dropdowns.weekdays.wed}}</option>
          <option value="thu">{{i18n.dropdowns.weekdays.thu}}</option>
          <option value="fri">{{i18n.dropdowns.weekdays.fri}}</option>
          <option value="sat">{{i18n.dropdowns.weekdays.sat}}</option>
          <option value="sun">{{i18n.dropdowns.weekdays.sun}}</option>
        </select>
      </div>
      <div class="col-md form-group">
        <label for="schdTimeFrom">
          {{i18n.groupForm.schdTimeFromLabel}}
        </label>
        <input type="time" name="schdTimeFrom" id="schdTimeFrom" class="form-control form-control-lg" 
          ng-model="group.schedule.timeFrom" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="schdTimeTo">
          {{i18n.groupForm.schdTimeToLabel}}
        </label>
        <input type="time" name="schdTimeTo" id="schdTimeTo" class="form-control form-control-lg" 
           ng-model="group.schedule.timeTo" ng-required="false">
      </div>
    </div>
  </fieldset>

  <!-- Buttons row -->
  <div class="form-row">
      <div class="col-md form-group">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary" 
          ng-disabled="registerForm.$invalid">
          {{i18n.btns.saveBtn}}
        </button>
      </div>
      <div class="col-md form-group">
        <button type="button" class="btn btn-lg btn-block btn-outline-danger" 
          ng-disabled="registerForm.$invalid">
          {{i18n.btns.cancelBtn}}
        </button>
      </div>
  </div>

</form>

