<form class="mt-3" name="memberForm" novalidate ng-submit="">

  <fieldset class="mb-4">
    <legend>{{i18n.memberForm.fieldsetLegend}}</legend>
    
    <div class="form-row">
      <div class="col-md form-group">
        <label for="fname">
          {{i18n.memberForm.fnameLabel}}
        </label>
        <input type="text" id="fname" name="fname" class="form-control form-control-lg" 
          placeholder="{{i18n.memberForm.fnamePlaceholder}}" ng-model="member.firstname" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="lname">
          {{i18n.memberForm.lnameLabel}}
        </label>
        <input type="text" id="lname" name="lname" class="form-control form-control-lg" 
          placeholder="{{i18n.memberForm.lnamePlaceholder}}" ng-model="member.lastname" ng-required="true">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md form-group">
        <label for="email">
          {{i18n.memberForm.emailLabel}}
        </label>
        <input type="email" id="email" name="email" class="form-control form-control-lg" 
          placeholder="{{i18n.memberForm.emailPlaceholder}}" ng-model="member.email" ng-required="false">
      </div>
      <div class="col-md form-group">
        <label for="phone">
          {{i18n.memberForm.phoneLabel}}
        </label>
        <input type="tel" id="phone" name="phone" class="form-control form-control-lg" 
          placeholder="{{i18n.memberForm.phonePlaceholder}}" ng-model="member.phone" ng-required="false">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md form-group">
        <label for="bday">
          {{i18n.memberForm.bday}}
        </label>  
        <input type="date" id="bday" name="bday" min="{{config.bday.minDate}}" max="{{config.bday.maxDate}}" 
          class="form-control form-control-lg" placeholder="{{i18n.memberForm.bdayPlaceholder}}" 
          ng-model="member.birthday" ng-required="false">
      </div>
      <div class="col-md form-group">
        <label for="status">
          {{i18n.dropdowns.status.label}}
        </label>
        <select id="status" name="status" class="form-control form-control-lg" 
                ng-model="member.status" ng-required="true">
          <option>{{i18n.dropdowns.status.active}}</option>
          <option>{{i18n.dropdowns.status.inactive}}</option>
        </select>
      </div>
    </div>

  </fieldset>


  <!-- Address -->
  <fieldset class="mb-4">
    <legend>{{i18n.addressForm.addressFieldset}}</legend>
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label for="street">
          {{i18n.addressForm.streetLabel}}
        </label>
        <input type="text" name="street" id="street" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.streetPlaceholder}}" ng-model="member.addres.street" ng-required="true">
      </div>
      <div class="col-md-3 form-group">
        <label for="extNumber">
          {{i18n.addressForm.extNumberLabel}}
        </label>
        <input type="number" name="extNumber" id="extNumber" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.extNumberPlaceholder}}" ng-model="member.addres.extNumber" ng-required="true">
      </div>
      <div class="col-md-3 form-group">
        <label for="intNumber">
          {{i18n.addressForm.intNumberLabel}}
        </label>
        <input type="number" name="intNumber" id="intNumber" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.intNumberPlaceholder}}" ng-model="member.addres.intNumber" ng-required="false">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md form-group">
        <label for="zip">
          {{i18n.addressForm.zipLabel}}
        </label>
        <input type="number" name="zip" id="zip" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.zipPlaceholder}}" ng-model="member.addres.zip" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="city">
          {{i18n.addressForm.cityLabel}}
        </label>
        <input type="text" name="city" id="city" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.cityPlaceholder}}" ng-model="member.addres.city" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="state">
          {{i18n.addressForm.stateLabel}}
        </label>
        <input type="text" name="state" id="state" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.statePlaceholder}}" ng-model="member.addres.state" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="country">
          {{i18n.addressForm.countryLabel}}
        </label>
        <input type="text" name="country" id="country" class="form-control form-control-lg" 
          placeholder="{{i18n.addressForm.countryPlaceholder}}" ng-model="member.addres.country" ng-required="true">
      </div>
      
    </div>
  </fieldset>

  <!-- Buttons row -->
  <div class="form-row">
      <div class="col-md form-group">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary" 
          ng-disabled="registerForm.$invalid">
          {{i18n.btns.saveBtn}}
        </button>
      </div>
      <div class="col-md form-group">
        <button type="button" class="btn btn-lg btn-block btn-outline-danger" 
          ng-disabled="registerForm.$invalid">
          {{i18n.btns.cancelBtn}}
        </button>
      </div>
  </div>

</form>

