<form class="mt-3" name="reportForm" novalidate ng-submit="">

  <fieldset class="mb-4">
    <legend>{{i18n.reportForm.reportLegend}}</legend>

    <div class="form-row">
      <!-- <div class="col-md-2 form-group">
        <label for="gid">
          {{i18n.reportForm.gidLabel}}
        </label>
        <input type="text" id="gid" name="gid" class="form-control form-control-lg"
          placeholder="{{i18n.reportForm.gidPlaceholder}}" ng-model="report.groupId" ng-required="true">
      </div> -->
      <div class="col-md form-group">
        <label for="gname">
          {{i18n.reportForm.gnameLabel}}
        </label>
        <input type="text" id="gname" name="gname" class="form-control form-control-lg"
          placeholder="{{i18n.reportForm.gnamePlaceholder}}" ng-model="report.groupName" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="lname">
          {{i18n.reportForm.lnameLabel}}
        </label>
        <input type="text" id="lname" name="lname" class="form-control form-control-lg"
          placeholder="{{i18n.reportForm.lnamePlaceholder}}" ng-model="report.leadName" ng-required="true">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md form-group">
        <label for="date">
          {{i18n.reportForm.dateLabel}}
        </label>
        <input type="date" id="date" name="date" min="{{config.reports.minDate}}" max="{{config.reports.maxDate}}"
          class="form-control form-control-lg" placeholder="{{i18n.reportForm.datePlaceholder}}"
          ng-model="report.date" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="startTime">
          {{i18n.reportForm.startTimeLabel}}
        </label>
        <input type="time" id="startTime" name="startTime"
          class="form-control form-control-lg" placeholder="{{i18n.reportForm.startTimePlaceholder}}"
          ng-model="report.startTime" ng-required="true">
      </div>
      <div class="col-md form-group">
        <label for="endTime">
          {{i18n.reportForm.endTimeLabel}}
        </label>
        <input type="time" id="endTime" name="endTime"
          class="form-control form-control-lg" placeholder="{{i18n.reportForm.endTimePlaceholder}}"
          ng-model="report.endTime" ng-required="true">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md form-group">
        <label for="week">
          Semana
        </label>
        <select id="week" name="week" class="form-control form-control-lg"
                ng-model="report.week" ng-required="true">
          <option>Semana 1</option>
        </select>
      </div>
      <div class="col-md form-group">
        <label for="money">
          Ofrenda
        </label>
        <div class="input-group" id="money">
          <span class="input-group-addon">$</span>
          <input type="number" min="0" class="form-control form-control-lg"
            ng-model="report.money">
          <span class="input-group-addon">.00</span>
        </div>
      </div>

    </div>

    <div class="form-row">
        <div class="col-md form-group">
        <div id="status" class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary btn-lg active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>
            Realizada
          </label>
          <label class="btn btn-danger btn-lg">
            <input type="radio" name="options" id="option2" autocomplete="off">
            Cancelada
          </label>
        </div>
      </div>
    </div>
  </fieldset>

<!-- Attendance -->
  <fieldset class="mb-4">
    <legend>Asistencia</legend>

<!-- Members -->
    <div class="form-row">
      <div class="col">
        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseMembers" aria-expanded="false" aria-controls="collapseMembers">
          Miembros
        </button>
      </div>
      <div class="col">
        <input class="form-control" type="text" readonly
          placeholder="{{report.attendance.total}} Mujeres">
      </div>
      <div class="col">
        <input class="form-control" type="text" readonly
          placeholder="{{report.attendance.total}} Hombres">
      </div>
    </div>
    <div  class="collapse" id="collapseMembers">
      <div class="card-body border border-primary border-top-0 rounded-bottom">
        <div class="form-row">
          <div class="col form-group">
            <label for="">
              Adultos
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.members.female.adult">
              <span class="input-group-addon">M</span>
            </div>
          </div>
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.members.male.adult">
              <span class="input-group-addon">H</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col form-group">
            <label for="">
              Jovenes
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.members.female.young">
              <span class="input-group-addon">M</span>
            </div>
          </div>
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.members.male.young">
              <span class="input-group-addon">H</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col form-group">
            <label for="">
              Niños
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.members.female.kid">
              <span class="input-group-addon">M</span>
            </div>
          </div>
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.members.male.kid">
              <span class="input-group-addon">H</span>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Invitados -->
    <div class="form-row mt-3">
      <div class="col">
        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseGuests" aria-expanded="false" aria-controls="collapseGuests">
          Invitados
        </button>
      </div>
      <div class="col">
        <input class="form-control" type="text" readonly
          placeholder="{{report.attendance.total}} Mujeres">
      </div>
      <div class="col">
        <input class="form-control" type="text" readonly
          placeholder="{{report.attendance.total}} Hombres">
      </div>
    </div>
    <div  class="collapse" id="collapseGuests">
      <div class="card-body border border-primary border-top-0 rounded-bottom">
        <div class="form-row">
          <div class="col form-group">
            <label for="">
              Adultos
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.guests.female.adult">
              <span class="input-group-addon">M</span>
            </div>
          </div>
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.guests.male.adult">
              <span class="input-group-addon">H</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col form-group">
            <label for="">
              Jovenes
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.guests.female.young">
              <span class="input-group-addon">M</span>
            </div>
          </div>
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.guests.male.young">
              <span class="input-group-addon">H</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col form-group">
            <label for="">
              Niños
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.guests.female.kid">
              <span class="input-group-addon">M</span>
            </div>
          </div>
          <div class="col form-group">
            <div class="input-group">
              <input type="number" value="0" min="0" class="form-control form-control-lg"
                ng-model="report.attendance.guests.male.kid">
              <span class="input-group-addon">H</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </fieldset>

  <fieldset class="mb-4">
    <legend>{{i18n.reportForm.notesLabel}}</legend>
    <div class="form-row">
      <div class="col-md form-group">
        <textarea id="notes" name="notes" class="form-control form-control-lg"
        placeholder="{{i18n.reportForm.notesPlaceholder}}" ng-model="report.notes" ng-required="false">
        </textarea>
      </div>
    </div>
  </fieldset>

  <!-- Buttons row -->
  <div class="form-row">
      <div class="col-md form-group">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary"
          >
          {{i18n.btns.saveBtn}}
        </button>
      </div>
      <div class="col-md form-group">
        <button type="button" class="btn btn-lg btn-block btn-outline-success"
          >
          Enviar
        </button>
      </div>
  </div>

</form>
