<section id="adminDashboard" ng-show="currentSession.user.type == 'admin'">
  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.admin.summaries.title}}</h4>
    </div>
  </article>

  <div ng-include="'views/alerts.html'"></div>

  <!-- Summaries -->
  <section id="summaries" class="row" ng-show="!response.loading">
    <article id="reportSummary" class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.navigation.admin.reports}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.reports.pending}}</span>
              <span>{{i18n.reports.pendingReports}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.reports.approved}}</span>
              <span>{{i18n.reports.approvedReports}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.reports.rejected}}</span>
              <span>{{i18n.reports.rejectedReports}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <div ng-controller="CreateReportCntrl">
            <button class="btn btn-block btn-primary clickable"
              ng-click="quickReportLauncher()"  ng-show="currentSession.accessGroups.length == 1">
              {{i18n.launchpad.createReport}}
            </button>
            <div ng-include="'views/groups/groupSelectModal.html'"></div>
            <button class="btn btn-block btn-primary clickable"
              ng-show="currentSession.accessGroups.length > 1"
              data-toggle="modal" data-target="#groupSelectModal">
              {{i18n.launchpad.createReport}}
            </button>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/reports" class="btn btn-primary btn-block">
            {{i18n.reports.loadBtn}}
          </a>
        </div>
      </div>
    </article>
    <article id="weekSummary" class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.navigation.admin.weeks}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.weeks.total}}</span>
              <span>{{i18n.weeks.totalWeeks}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.weeks.open}}</span>
              <span>{{i18n.weeks.openWeeks}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.weeks.total - globalCount.weeks.open}}</span>
              <span>{{i18n.weeks.closedWeeks}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <a href="#!/weeks/new" class="btn btn-primary btn-block">
            {{i18n.weeks.newBtn}}
          </a>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/weeks" class="btn btn-primary btn-block">
            {{i18n.weeks.loadBtn}}
          </a>
        </div>
      </div>
    </article>
  </section>
  <section id="summaries" class="row" ng-show="!response.loading">
    <article id="groupSummary" class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.navigation.admin.groups}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.groups.total}}</span>
              <span>{{i18n.groups.totalGroups}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.groups.active}}</span>
              <span>{{i18n.groups.activeGroups}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.groups.total - globalCount.groups.active}}</span>
              <span>{{i18n.groups.inactiveGroups}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <a href="#!/groups/new" class="btn btn-primary btn-block">
            {{i18n.groups.newBtn}}
          </a>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/groups" class="btn btn-primary btn-block">
            {{i18n.groups.loadBtn}}
          </a>
        </div>
      </div>
    </article>
    <article id="memberSummary" class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.navigation.admin.members}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.members.total}}</span>
              <span>{{i18n.members.totalMembers}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.members.active}}</span>
              <span>{{i18n.members.activeMembers}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.members.total - globalCount.members.active}}</span>
              <span>{{i18n.members.inactiveMembers}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <a href="#!/members/new" class="btn btn-primary btn-block">
            {{i18n.members.newBtn}}
          </a>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/members" class="btn btn-primary btn-block">
            {{i18n.members.loadBtn}}
          </a>
        </div>
      </div>
    </article>
  </section>

</section>
