<section id="adminDashboard" ng-show="currentSession.user.type != 'user'">
  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.summary.title}}</h4>
    </div>
  </article>

  <div ng-include="'views/alerts.html'"></div>

  <!-- Summaries -->
  <section class="row" ng-show="!response.loading">
    <article id="reportSummary" class="col-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.reports.reportsLbl}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.reports.pending}}</span>
              <span>{{i18n.reports.pendingReportsLbl}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.reports.approved}}</span>
              <span>{{i18n.reports.approvedReportsLbl}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.reports.rejected}}</span>
              <span>{{i18n.reports.rejectedReportsLbl}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <div ng-controller="CreateReportCntrl">
            <button class="btn btn-block btn-primary clickable"
              ng-click="quickReportLauncher()"  ng-show="currentSession.accessGroups.length <= 1"
              ng-disabled="currentSession.accessGroups.length < 1">
              {{i18n.reports.newBtn}}
            </button>
            <div ng-include="'views/groups/groupSelectModal.html'"></div>
            <button class="btn btn-block btn-primary clickable"
              ng-show="currentSession.accessGroups.length > 1"
              data-toggle="modal" data-target="#groupSelectModal">
              {{i18n.reports.newBtn}}
            </button>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/reports" class="btn btn-primary btn-block">
            {{i18n.reports.goToBtn}}
          </a>
        </div>
      </div>
    </article>
    <article id="weekSummary" class="col-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.weeks.weeksLbl}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.weeks.total}}</span>
              <span>{{i18n.weeks.totalWeeksLbl}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.weeks.open}}</span>
              <span>{{i18n.weeks.openWeeksLbl}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.weeks.total - globalCount.weeks.open}}</span>
              <span>{{i18n.weeks.closedWeeksLbl}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <a href="#!/weeks/new" class="btn btn-primary btn-block">
            {{i18n.weeks.newBtn}}
          </a>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/weeks" class="btn btn-primary btn-block">
            {{i18n.weeks.goToBtn}}
          </a>
        </div>
      </div>
    </article>
    <article id="groupSummary" class="col-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.groups.groupsLbl}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.groups.total}}</span>
              <span>{{i18n.groups.totalGroupsLbl}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.groups.active}}</span>
              <span>{{i18n.groups.activeGroupsLbl}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.groups.total - globalCount.groups.active}}</span>
              <span>{{i18n.groups.inactiveGroupsLbl}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <a href="#!/groups/new" class="btn btn-primary btn-block">
            {{i18n.groups.newBtn}}
          </a>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/groups" class="btn btn-primary btn-block">
            {{i18n.groups.goToBtn}}
          </a>
        </div>
      </div>
    </article>
    <article id="memberSummary" class="col-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.members.membersLbl}}
          </h4>
          <hr>
          <div class="row">
            <div class="col">
              <span class="badge badge-primary">{{globalCount.members.total}}</span>
              <span>{{i18n.members.totalMembersLbl}}</span>
              <br>
              <span class="badge badge-success">{{globalCount.members.active}}</span>
              <span>{{i18n.members.activeMembersLbl}}</span>
              <br>
              <span class="badge badge-danger">{{globalCount.members.total - globalCount.members.active}}</span>
              <span>{{i18n.members.inactiveMembersLbl}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-1">
        <div class="col-md-6 mb-1">
          <a href="#!/members/new" class="btn btn-primary btn-block">
            {{i18n.members.newBtn}}
          </a>
        </div>
        <div class="col-md-6 mb-1">
          <a href="#!/members" class="btn btn-primary btn-block">
            {{i18n.members.goToBtn}}
          </a>
        </div>
      </div>
    </article>
  </section>

</section>
