<!-- Admin Weeks List View -->
<section id="adminWeeksList" ng-show="currentSession.user.type == 'admin'">

  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.weeks.title}}</h4>
      <hr>
      <div class="row">
        <!-- <h4 class="col">
          <span class="badge badge-primary">
            {{systemCounters.weeks.total}}
          </span>
          <span>{{i18n.weeks.totalWeeks}}</span>
        </h4> -->
        <h4 class="col">
          <span class="badge badge-success">{{systemCounters.weeks.open}}</span>
          <span>{{i18n.weeks.openWeeks}}</span>
        </h4>
        <h4 class="col">
          <span class="badge badge-danger">{{systemCounters.weeks.total-systemCounters.weeks.open}}</span>
          <span>{{i18n.weeks.closedWeeks}}</span>
        </h4>
      </div>
      <div class="row">
        <h4 class="col">
          <span class="badge badge-primary">{{systemCounters.weeks.visible}}</span>
          <span>{{i18n.weeks.visibleWeeks}}</span>
        </h4>
        <h4 class="col">
          <span class="badge badge-dark">{{systemCounters.weeks.total-systemCounters.weeks.visible}}</span>
          <span>{{i18n.weeks.hiddenWeeks}}</span>
        </h4>
      </div>
    </div>
  </article>

  <!-- Buttons -->
  <div class="row">
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" ng-click="loadWeeksList()">
        {{i18n.weeks.loadBtn}}
      </a>
    </div>
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" href="#!/weeks/new" >
        {{i18n.weeks.newBtn}}
      </a>
    </div>
  </div>

  <div ng-include="'views/alerts.html'"></div>
  <!-- Alerts to show Response Message (Used after redirect from Weeks Delete) -->
  <div class="alert alert-danger" role="alert" ng-show="weekResponse.deleted" >
    {{weekResponse.message}}
  </div>

  <article id="filterCard" class="card mb-3" ng-show="weeksList">
    <div class="card-body">
      <!-- <div class="card-text">
        <p>{{i18n.admin.groups.filterDescription}}</p>
      </div> -->
      <div class="row">
        <div class="col">
          <input type="text" placeholder="{{i18n.forms.filter.hint}}" class="form-control form-control-lg" ng-model="searchText">
        </div>
      </div>
    </div>
  </article>

  <article id="weeksList" class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="week in weeksList | filter:searchText | orderBy:'-$id' track by week.$id">
      <!-- Group card -->
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!/weeks/edit/{{week.$id}}">
              {{week.$id}}
            </a>
          </h4>
          <span class="badge badge-success" ng-if="week.isOpen">{{i18n.weeks.openLbl}}</span>
          <span class="badge badge-danger"  ng-if="!week.isOpen">{{i18n.weeks.closedLbl}}</span>
          <span class="badge badge-primary" ng-if="week.isVisible">{{i18n.weeks.showLbl}}</span>
          <span class="badge badge-dark"    ng-if="!week.isVisible">{{i18n.weeks.hideLbl}}</span>
          <hr>
          <p>
            <span class="font-weight-bold">{{i18n.weeks.nameLbl}}:</span> {{week.name}} <br>
            <span class="font-weight-bold">{{i18n.weeks.yearLbl}}:</span> {{week.year}} <br>
            <span class="font-weight-bold">{{i18n.weeks.weekLbl}}:</span> {{week.weekNumber}}
          </p>
          <!-- Buttons -->
          <div class="row">
            <div class="col mb-2" ng-show="!week.isOpen">
              <button class="btn btn-block btn-warning clickable" ng-click="setWeekOpenStatus(week.$id,true)">
                {{i18n.weeks.openBtn}}
              </button>
            </div>
            <div class="col mb-2" ng-show="week.isOpen">
              <button class="btn btn-block btn-warning clickable" ng-click="setWeekOpenStatus(week.$id,false)">
                {{i18n.weeks.closeBtn}}
              </button>
            </div>
            <div class="col mb-2" ng-show="!week.isVisible">
              <button class="btn btn-block btn-warning clickable" ng-click="setWeekVisibility(week.$id,true)">
                {{i18n.weeks.showBtn}}
              </button>
            </div>
            <div class="col mb-2" ng-show="week.isVisible">
              <button class="btn btn-block btn-warning clickable" ng-click="setWeekVisibility(week.$id,false)">
                {{i18n.weeks.hideBtn}}
              </button>
            </div>
          </div>
          <!-- Buttons end -->
        </div>
      </div>
    </div>
  </article>

</section>
