<!-- Loading Week Alert -->
<div class="alert alert-warning" role="alert" ng-show="response.loading" >
  {{response.message}}
</div>

<!-- Following section will be displayed onyl after week is loaded -->
<section id="weekEdit" ng-show="!response.loading">

  <!-- Informs a Week was created (used after redirect from weeks/new to weeks/edit) -->
  <div class="alert alert-success" role="alert" ng-show="weekResponse.created" >
    {{weekResponse.message}}
  </div>

  <!-- Title Section -->
  <article class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{weekEditParams.actionLbl}} {{i18n.weeks.weekLbl}}
        <span class="tx-darkblue d-inline">{{objectDetails.basicInfo.$id}}</span>
        <!-- <div class="d-inline" ng-if="weekEditParams.showBadges">
          <span class="ml-4 badge badge-success" ng-if="objectDetails.basicInfo.isOpen">
            {{i18n.weeks.openLbl}}
          </span>
          <span class="ml-4 badge badge-danger" ng-if="!objectDetails.basicInfo.isOpen">
            {{i18n.weeks.closedLbl}}
          </span>
          <span class="ml-4 badge badge-primary" ng-if="objectDetails.basicInfo.isVisible">
            {{i18n.weeks.showLbl}}
          </span>
          <span class="ml-4 badge badge-dark" ng-if="!objectDetails.basicInfo.isVisible">
            {{i18n.weeks.hideLbl}}
          </span>
        </div> -->
      </h4>
    </div>
  </article>

  <!-- Basic Details Card -->
  <article class="card mb-3">
    <form id="weekForm" name="weekForm" novalidate ng-submit="">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.weeks.basicInfoTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- Week name -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="weekName">
              {{i18n.weeks.nameLbl}}
              <span class="text-danger">*</span>
            </label>
            <input id="weekName" type="text" class="form-control form-control-lg"
              placeholder="{{i18n.weeks.nameHint}}" ng-model="objectDetails.basicInfo.name" ng-required="true">
          </div>
          <!-- Week Code -->
          <div class="col form-group">
            <label class="font-weight-bold" for="weekDate">
              {{i18n.weeks.weekDateLbl}}
              <span class="text-danger">*</span>
            </label>
            <input type="week" id="weekDate" class="form-control form-control-lg" placeholder=""
              min="{{config.reports.minDate}}" max="{{config.todayDate}}"
              ng-required="{{weekEditParams.dateRequired}}" ng-model="weekEditParams.date">
          </div>
        </div>
        <!-- Notes -->
        <div class="form-row">
          <div class="col form-group">
            <label class="font-weight-bold" for="weekNotes">
              {{i18n.weeks.notesLbl}}
            </label>
            <textarea id="weekNotes" name="notes" class="form-control form-control-lg"
              placeholder="{{i18n.weeks.notesHint}}" ng-model="objectDetails.basicInfo.notes">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </article>

  <!-- Save Button (Only for Admin) -->
  <div class="row mb-3" ng-if="currentSession.user.type != 'user'">
    <div class="col">
      <button type="button" class="btn btn-lg btn-block btn-warning clickable"
        ng-disabled="weekForm.$invalid || weekForm.$pristine"
        ng-click="saveWeek()">
        {{i18n.weeks.saveWeekBtn}}
      </button>
    </div>
  </div>

  <!-- Alerts to inform user on progress or result -->
  <div ng-include="'views/alerts.html'"></div>

  <!--  (Opne & Show) Actions available for Admin, only after Week creation -->
  <article class="mb-3" ng-if="weekEditParams.isEdit && currentSession.user.type != 'user'">
    <div class="card mb-2">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>{{i18n.weeks.statusTitle}}</legend>
          </div>
        </div>
        <hr>
        <!-- labels and badges -->
        <div class="form-row">
          <div class="col-sm-6 form-group">
            <label class="font-weight-bold" for="weekStatus">
              {{i18n.weeks.statusLbl}}
            </label><br>
            <span class="badge badge-success" ng-show="objectDetails.basicInfo.isOpen">
              {{i18n.weeks.openStatusLbl}}</span>
            <span class="badge badge-danger" ng-show="!objectDetails.basicInfo.isOpen">
              {{i18n.weeks.closedStatusLbl}}</span>
          </div>
          <div class="col-sm-6 form-group">
            <label class="font-weight-bold" for="weekVisibility">
              {{i18n.weeks.visibilityLbl}}
            </label><br>
            <span class="badge badge-primary" ng-show="objectDetails.basicInfo.isVisible">
              {{i18n.weeks.showStatusLbl}}</span>
            <span class="badge badge-dark" ng-show="!objectDetails.basicInfo.isVisible">
              {{i18n.weeks.hideStatusLbl}}</span>
          </div>
        </div>
        <!-- Status Change Buttons -->
        <div class="form-row">
          <!-- Open / Close -->
          <div class="col-sm-6 form-group">
            <button type="button" id ="weekStatus" class="btn btn-success clickable"
              ng-show="!objectDetails.basicInfo.isOpen" ng-click="setWeekOpenStatus(true)">
              {{i18n.weeks.openWeekBtn}}
            </button>
            <button type="button" id ="weekStatus" class="btn btn-danger clickable"
              ng-show="objectDetails.basicInfo.isOpen" ng-click="setWeekOpenStatus(false)">
              {{i18n.weeks.closeWeekBtn}}
            </button>
          </div>
          <!-- Show / Hide -->
          <div class="col-sm-6 form-group">
            <button type="button" id ="weekVisibility" class="btn btn-primary clickable"
              ng-show="!objectDetails.basicInfo.isVisible" ng-click="setWeekVisibility(true)">
              {{i18n.weeks.showWeekBtn}}
            </button>
            <button type="button" id ="weekVisibility" class="btn btn-dark clickable"
              ng-show="objectDetails.basicInfo.isVisible" ng-click="setWeekVisibility(false)">
              {{i18n.weeks.hideWeekBtn}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Audit -->
  <article ng-if="objectDetails.audit" ng-include="'views/fragments/auditDetails.html'"></article>

  <!-- Delete Week Button (Only for Admin) -->
  <div class="alert alert-danger" role="alert" ng-show="response.deleteError" >
    {{response.message}}
  </div>
  <div class="row mb-3" ng-if="currentSession.user.type != 'user'">
    <div class="col" ng-if="weekEditParams.isEdit">
      <button type="button" class="btn btn-lg btn-block btn-danger clickable"
          data-toggle="collapse" data-target="#collapseDelete"
          aria-expanded="false" aria-controls="collapseDelete">
        {{i18n.weeks.deleteWeekBtn}}
      </button>
      <div  class="collapse" id="collapseDelete">
        <div class="alert alert-danger" role="alert">
          {{i18n.alerts.confirmQuestion}}
          <button type="button" class="btn btn-danger clickable" ng-click="deleteWeek()">
            {{i18n.btns.yesBtn}}
          </button>
          <button type="button" class="btn btn-success clickable"
           data-toggle="collapse" data-target="#collapseDelete"
           aria-expanded="false" aria-controls="collapseDelete">
            {{i18n.btns.noBtn}}
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
