<!-- Loading Week Alert -->
<div class="alert alert-warning" role="alert" ng-show="response.loading" >
  {{response.message}}
</div>

<!-- Following section will be displayed onyl after Member is loaded -->
<section id="weekView" ng-show="!response.loading">

  <!-- Title Section -->
  <article class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        <span class="tx-darkblue d-inline">{{i18n.weeks.weekLbl}} {{objectDetails.basicInfo.$id}}</span>
      </h4>
    </div>
  </article>

  <!-- Basic Details Card -->
  <article class="card mb-3">
    <div class="card-body">
      <!-- Header -->
      <div class="row">
        <div class="col">
          <legend>
            <i class="clickable far fa-minus-square"
             data-toggle="collapse" data-target="#basicInfo" aria-expanded="false" aria-controls="basicInfo"
            ng-if="basicInfoExpanded" ng-click="expandSection('basicInfo',false)"></i>
            <i class="clickable far fa-plus-square"
             data-toggle="collapse" data-target="#basicInfo" aria-expanded="true" aria-controls="basicInfo"
            ng-if="!basicInfoExpanded" ng-click="expandSection('basicInfo',true)"></i>
            {{i18n.weeks.basicInfoTitle}}
          </legend>
        </div>
      </div>
      <div id="basicInfo" class="collapse show">
        <hr>
        <div class="row mb-3">
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.nameLbl}}:</span> {{objectDetails.basicInfo.name}} <br>
          </div>
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.yearLbl}}:</span> {{objectDetails.basicInfo.year}}
          </div>
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.weekLbl}}:</span> #{{objectDetails.basicInfo.week}} <br>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.dueDateLbl}}:</span>
            {{objectDetails.basicInfo.duedate | date: config.formats.datetime}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.studyLbl}}:</span> {{objectDetails.basicInfo.study}}
          </div>
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.seriesLbl}}:</span> {{objectDetails.basicInfo.series}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <span class="font-weight-bold">{{i18n.weeks.notesLbl}}:</span> {{objectDetails.basicInfo.notes}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="font-weight-bold">
              {{i18n.weeks.statusLbl}}:
            </label>
            <span class="badge badge-success" ng-show="objectDetails.basicInfo.isOpen">
              {{i18n.weeks.openStatusLbl}}</span>
            <span class="badge badge-danger" ng-show="!objectDetails.basicInfo.isOpen">
              {{i18n.weeks.closedStatusLbl}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="font-weight-bold">
              {{i18n.weeks.visibilityLbl}}:
            </label>
            <span class="badge badge-primary" ng-show="objectDetails.basicInfo.isVisible">
              {{i18n.weeks.showStatusLbl}}</span>
            <span class="badge badge-dark" ng-show="!objectDetails.basicInfo.isVisible">
              {{i18n.weeks.hideStatusLbl}}</span>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Audit -->
  <article ng-if="objectDetails.audit" ng-include="'views/fragments/auditDetails.html'"></article>

  <!-- Admin Buttons -->
  <div class="row mb-3" ng-if="currentSession.user.type != 'user'">
    <div class="col">
      <a href="#!/weeks/edit/{{objectDetails.basicInfo.$id}}" class="btn btn-lg btn-block btn-warning clickable">
        {{i18n.weeks.editBtn}}
      </a>
    </div>
  </div>
</section>
