<!-- Loading Member Alert -->
<div class="alert alert-warning" role="alert" ng-show="response.loading" >
  {{response.message}}
</div>

<!-- Following section will be displayed onyl after Member is loaded -->
<section id="memberRequest" ng-show="!response.loading">
  <!-- Title -->
  <article class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{i18n.requests.memberRequestTitle}}
      </h4>
    </div>
  </article>

  <div class="mb-4" ng-show="!requestParams.isEdit && currentSession.user.type != 'user'">
    <div class="alert alert-danger mb-1" role="alert">
      {{i18n.requests.admin.donotCreateRequests}}
    </div>
    <a href="#!/members/new" class="btn btn-lg btn-primary ">
      {{i18n.members.newBtn}}
    </a>
  </div>

  <!-- Alerts to inform the Status of Existing Request -->
  <div class="alert alert-danger" role="alert" ng-show="objectDetails.status == 'rejected'">
    {{i18n.requests.rejectedRequestLbl}}
  </div>
  <div class="alert alert-success" role="alert" ng-show="objectDetails.status == 'approved'">
    {{i18n.requests.approvedRequestLbl}}
  </div>
  <div class="alert alert-primary" role="alert" ng-show="objectDetails.status == 'pending'">
    {{i18n.requests.pendingRequestLbl}}
  </div>

  <!-- Basic Details Card -->
  <article class="card mb-3">
    <form id="memberRequestForm" name="memberRequestForm" novalidate ng-submit="">
      <div class="card-body">
        <!-- Header -->
        <div class="row">
          <div class="col">
            <legend>
              <i class="clickable far fa-minus-square"
               data-toggle="collapse" data-target="#basicInfo" aria-expanded="false" aria-controls="basicInfo"
              ng-if="basicInfoExpanded" ng-click="expandSection('basicInfo',false)"></i>
              <i class="clickable far fa-plus-square"
               data-toggle="collapse" data-target="#basicInfo" aria-expanded="true" aria-controls="basicInfo"
              ng-if="!basicInfoExpanded" ng-click="expandSection('basicInfo',true)"></i>
              {{i18n.members.basicInfoTitle}}
            </legend>
          </div>
        </div>
        <div id="basicInfo" class="collapse show">
          <hr>
          <!-- Firstname, Lastname and Alias -->
          <div class="form-row">
            <div class="col-md form-group">
              <label class="font-weight-bold" for="firstname">
                {{i18n.members.fnameLbl}}
                <span class="text-danger">*</span>
              </label>
              <input id="firstname" type="text" class="form-control form-control-lg" placeholder="{{i18n.members.fnameHint}}"
                ng-model="objectDetails.basicInfo.firstname" ng-required="true">
            </div>
            <div class="col-md form-group">
              <label class="font-weight-bold" for="lastname">
                {{i18n.members.lnameLbl}}
                <span class="text-danger">*</span>
              </label>
              <input type="text" id="lastname" class="form-control form-control-lg" placeholder="{{i18n.members.lnameHint}}"
                  ng-model="objectDetails.basicInfo.lastname" ng-required="true">
            </div>
            <div class="col-md form-group">
              <label class="font-weight-bold" for="shortname">
                {{i18n.members.aliasLbl}}
                <span class="text-danger">*</span>
              </label>
              <input id="shortname" name="shortname" type="text" class="form-control form-control-lg" placeholder="{{i18n.members.aliasHint}}"
                ng-model="objectDetails.basicInfo.shortname" ng-required="true">
            </div>
          </div>
          <!-- Sex and Birthdate -->
          <div class="form-row">
            <div class="col-md form-group">
              <label class="font-weight-bold" for="shortname">
                {{i18n.members.sexLbl}}
                <span class="text-danger">*</span>
              </label>
              <select id="sexSelect" class="form-control form-control-lg"
                ng-model="objectDetails.basicInfo.sex" ng-required="true">
                <option value="M" >{{i18n.members.maleLbl}}</option>
                <option value="F" >{{i18n.members.femaleLbl}}</option>
              </select>
            </div>
            <div class="col-md form-group">
              <label class="font-weight-bold" for="bday">
                {{i18n.members.bdayLbl}}
              </label>
              <input type="date" id="bday" name="bday" class="form-control form-control-lg"
                min="{{config.members.minBDate}}" max="{{config.tomorrowDate}}" value="{{objectDetails.basicInfo.bday}}"
                ng-required="false" onchange="updateBdayValue()">
            </div>
          </div>
          <!-- Email and Phone -->
          <div class="form-row">
            <div class="col-md form-group">
              <label class="font-weight-bold" for="email">
                {{i18n.contact.emailLbl}}
                <span class="text-danger" ng-show="!(objectDetails.basicInfo.phone)">*</span>
              </label>
              <input id="email" type="email" class="form-control form-control-lg" placeholder="{{i18n.contact.emailHint}}"
                ng-model="objectDetails.basicInfo.email" ng-required="!(objectDetails.basicInfo.phone)">
            </div>
            <div class="col-md form-group">
              <label class="font-weight-bold" for="phone">
                {{i18n.contact.phoneLbl}}
                <span class="text-danger" ng-show="!(objectDetails.basicInfo.email)">*</span>
              </label>
              <input type="tel" id="phone" class="form-control form-control-lg" placeholder="{{i18n.contact.phoneHint}}"
                  ng-model="objectDetails.basicInfo.phone"
                  ng-required="!(objectDetails.basicInfo.email)">
            </div>
          </div>
          <!-- Base Group -->
          <div class="form-row">
            <div class="col-md form-group">
              <label class="font-weight-bold" for="baseGroup">
                {{i18n.members.baseGroupLbl}}
                <span class="text-danger">*</span>
              </label>
              <select id="baseGroup" class="form-control form-control-lg" ng-required="true" ng-model="objectDetails.basicInfo.baseGroupId">
                <option value="">{{i18n.members.noGroup}}</option>
                <option ng-repeat="group in groupsList | orderBy:'group.number' track by group.$id" value="{{group.$id}}" >
                  {{group.number}}-{{group.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </article>

  <!-- Address Card -->
  <article class="card mb-3">
    <form name="memberAddressForm" novalidate ng-submit="">
      <div class="card-body">
        <!-- Header and Add Button (Admin)-->
        <div class="row">
          <div class="col">
            <legend>
              <i class="clickable far fa-minus-square"
               data-toggle="collapse" data-target="#addressInfo" aria-expanded="false" aria-controls="addressInfo"
              ng-if="addressInfoExpanded" ng-click="expandSection('addressInfo',false)"></i>
              <i class="clickable far fa-plus-square"
               data-toggle="collapse" data-target="#addressInfo" aria-expanded="true" aria-controls="addressInfo"
              ng-if="!addressInfoExpanded" ng-click="expandSection('addressInfo',true)"></i>
              {{i18n.address.legend}}
            </legend>
          </div>
          <!-- Button to Add/Remove address -->
          <div class="col">
            <button type="button" class="btn btn-block btn-warning clickable"
              ng-show="!objectDetails.address" ng-click="addAdressInRequest()">
              {{i18n.members.addAddressBtn}}
            </button>
            <!-- Delete Address button -->
            <button type="button" class="btn btn-block btn-danger clickable"
              data-toggle="collapse" data-target="#collapseDeleteAddress"
              aria-expanded="false" aria-controls="collapseDeleteAddress"
              ng-show="objectDetails.address">
              {{i18n.members.deleteAddressBtn}}
            </button>
            <div  class="collapse" id="collapseDeleteAddress">
              <div class="alert alert-danger" role="alert">
                {{i18n.alerts.confirmQuestion}}
                <button type="button" class="btn btn-danger clickable" ng-click="removeAdressInRequest()"
                 data-toggle="collapse" data-target="#collapseDeleteAddress"
                 aria-expanded="false" aria-controls="collapseDeleteAddress">
                  {{i18n.btns.yesBtn}}
                </button>
                <button type="button" class="btn btn-success clickable"
                 data-toggle="collapse" data-target="#collapseDeleteAddress"
                 aria-expanded="false" aria-controls="collapseDeleteAddress">
                  {{i18n.btns.noBtn}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="addressInfo" class="collapse show">
          <hr ng-show="objectDetails.address">
          <div ng-show="objectDetails.address" ng-include="'views/fragments/addressFormFields.html'"></div>
        </div>
      </div>
    </form>
  </article>

  <!-- Notes -->
  <article class="card mb-3">
    <form id="requestNotesForm" name="requestNotesForm" novalidate ng-submit="">
      <div class="card-body">
        <div class="row">
          <div class="col">

            <legend>
              <i class="clickable far fa-minus-square"
               data-toggle="collapse" data-target="#notesInfo" aria-expanded="false" aria-controls="notesInfo"
              ng-if="notesInfoExpanded" ng-click="expandSection('notesInfo',false)"></i>
              <i class="clickable far fa-plus-square"
               data-toggle="collapse" data-target="#notesInfo" aria-expanded="true" aria-controls="notesInfo"
              ng-if="!notesInfoExpanded" ng-click="expandSection('notesInfo',true)"></i>
              {{i18n.members.notesLbl}}
            </legend>
          </div>
        </div>
        <div id="notesInfo" class="collapse show">
          <hr>
          <div class="form-row">
            <div class="col-md form-group">
              <textarea id="notes" name="notes" class="form-control form-control-lg"
              placeholder="" ng-model="objectDetails.notes" ng-required="true">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </article>

  <!-- Audit -->
  <article ng-if="objectDetails.audit" ng-include="'views/fragments/auditDetails.html'"></article>

  <!-- Alerts to inform user on progress or result -->
  <div ng-include="'views/alerts.html'"></div>

  <!-- User Buttons: Requets, Update, Delete -->
  <div class="row" ng-if="objectDetails.status != 'approved'">
    <!-- Request can be placed, while not on edit view -->
    <div class="col mb-2" ng-if="!requestParams.isEdit">
      <button type="button" class="btn btn-lg btn-block btn-primary clickable"
        ng-disabled="memberRequestForm.$pristine || requestNotesForm.$invalid || memberRequestForm.$invalid || (objectDetails.address && memberAddressForm.$invalid)"
        ng-click="requestMember()">
        {{i18n.btns.requestBtn}}
      </button>
    </div>
    <!-- Request can be updated by the requestor or admin, while not approved -->
    <div class="col mb-2" ng-if="requestParams.isEdit && (currentSession.user.$id == objectDetails.audit.createdById || currentSession.user.type!='user')">
      <button type="button" class="btn btn-lg btn-block btn-primary clickable"
        ng-disabled="(memberRequestForm.$invalid || requestNotesForm.$invalid || (objectDetails.address && memberAddressForm.$invalid) )
        || ( (objectDetails.address && memberAddressForm.$pristine) && memberRequestForm.$pristine && requestNotesForm.$pristine )"
        ng-click="updateRequest()">
        {{i18n.btns.updateBtn}}
      </button>
    </div>
    <!-- Request can be deleted by the requestor only, and when it is not approved yet -->
    <div class="col mb-2" ng-if="objectDetails.status != 'approved' && currentSession.user.$id == objectDetails.audit.createdById">
      <button type="button" class="btn btn-lg btn-block btn-danger clickable"
          data-toggle="collapse" data-target="#collapseReqDelete" aria-expanded="false" aria-controls="collapseReqDelete">
        {{i18n.btns.deleteBtn}}
      </button>
      <div  class="collapse" id="collapseReqDelete">
        <div class="alert alert-danger" role="alert">
          {{i18n.alerts.confirmQuestion}}
          <button type="button" class="btn btn-danger clickable" ng-click="deleteRequest()">
            {{i18n.btns.yesBtn}}
          </button>
          <button type="button" class="btn btn-success clickable"
            data-toggle="collapse" data-target="#collapseReqDelete"
            aria-expanded="false" aria-controls="collapseReqDelete">
            {{i18n.btns.noBtn}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Admin Buttons: Approve / Reject -->
  <div class="row" ng-if="objectDetails.status == 'pending' && currentSession.user.type != 'user'">
    <!-- Request can be approved by admin, when it is on pending status -->
    <div class="col mb-2">
      <button type="button" class="btn btn-lg btn-block btn-success clickable"
      ng-disabled="(memberRequestForm.$invalid || requestNotesForm.$invalid || (objectDetails.address && memberAddressForm.$invalid) )
      || ( (objectDetails.address && memberAddressForm.$pristine) && memberRequestForm.$pristine && requestNotesForm.$pristine )"
      ng-click="approveRequest()">
        {{i18n.btns.approveBtn}}
      </button>
    </div>
    <!-- Request can be rejected by admin, when it is on pending status -->
    <div class="col mb-2">
      <button type="button" class="btn btn-lg btn-block btn-danger clickable"
      ng-disabled="(memberRequestForm.$invalid || requestNotesForm.$invalid || (objectDetails.address && memberAddressForm.$invalid) )
      || ( (objectDetails.address && memberAddressForm.$pristine) && memberRequestForm.$pristine && requestNotesForm.$pristine )"
      ng-click="rejectRequest()">
        {{i18n.btns.rejectBtn}}
      </button>
    </div>
  </div>

</section>
