<section ng-show="currentSession.member">

  <article id="welcomeMessage" class="row mb-3">
      <div class="col alert alert-success" role="alert">
        <h1>{{i18n.home.welcome}}
          {{currentSession.member.member.shortname}}</h1>
      </div>
  </article>

  <article id="basicInfo" class="row">
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <!-- <div class="card-header">
            {{i18n.home.basicInfo}}
          </div> -->
          <div class="card-body">
            <h4 class="card-title">{{i18n.home.basicInfo}}</h4>
            <hr>
            <p class="card-text">
              {{currentSession.member.member.firstname}}
              {{currentSession.member.member.lastname}} <br>
              {{currentSession.member.member.email}} <br>
              {{currentSession.member.member.phone}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <!-- <div class="card-header">
            {{i18n.home.address}}
          </div> -->
          <div class="card-body">
            <h4 class="card-title">{{i18n.home.address}}</h4>
            <hr>
            <p class="card-text" ng-if="currentSession.member.address">
              {{currentSession.member.address.street}}
              #{{currentSession.member.address.extNumber}}<span ng-if="currentSession.member.address.intNumber">, Int {{currentSession.member.address.intNumber}}</span><br>
              {{currentSession.member.address.city}} {{currentSession.member.address.state}}, {{currentSession.member.address.country}}<br>
              {{i18n.forms.address.zipLbl}} {{m.address.zip}}
            </p>
          </div>
        </div>
      </div>
 </article>

  <article id="messageCenter" class="row" ng-controller="MessageCenterCntrl">
    <div class="col mb-3">
      <div class="card">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <h4 class="card-title">{{i18n.msgCenter.messageCenter}}</h4>
          <hr>
          <div class="pre-scrollable">
            <div class="row" ng-repeat="m in messages | orderBy:'audit.createdOn':true">
                <div class="alert alert-{{m.type}} ml-4 mr-4">
                  {{m.message}}
                  <hr style="margin-bottom: 0;">
                  <span class="small font-weight-light">
                  {{m.audit.createdBy}} - {{m.audit.createdOn | date: "MMM dd yyyy hh:mm a"}}
                  </span>
                  <div class="" ng-if="(m.audit.createdBy == currentSession.user.email) || (currentSession.user.type == 'admin') ">
                    <span class="small font-weight-light" style="cursor:pointer" ng-click="deleteMessage(m.$id)">
                      {{i18n.msgCenter.deleteMsg}}
                    </span>
                  </div>
                </div>
            </div>
          </div>
          <h4 class="card-title"></h4>
          <p class="card-text"></p>
          <form name="messageForm" novalidate ng-submit="saveMessage()"  ng-show="currentSession.user.type == 'admin'">
            <div class="row mt-3">
              <div class="col-sm-10">
                <textarea  class="form-control" placeholder="{{i18n.msgCenter.messageCenterInstruction}}"
                  ng-required="true" ng-model="newmessage"></textarea>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-success h-100"
                    ng-disabled="messageForm.$invalid || messageForm.$pristine">
                  {{i18n.btns.sendBtn}}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <input type="checkbox" id="importantMsgCheck" ng-model="importantMessage">
                <label for="importantMsgCheck">{{i18n.msgCenter.importanMsg}}</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>

</section>
