<section>
  <article class="">

    <div class="card mb-3">
      <div class="card-header">
        Reports
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary btn-lg btn-block">Create Report</a>
        <p class="card-text"></p>

        <h4 class="card-title">Reports</h4>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Group Name</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Ofrenda</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        My Groups
      </div>
    </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3"
            ng-repeat="g in allGroups | filter:searchText">
            <!-- Group card -->
            <div class="card h-100">
              <h4 class="card-header">
                <a ng-href="#!/groups/view/{{g.$id}}">
                  #{{g.group.number}} {{g.group.name}}
                </a>
              </h4>
              <div class="card-body">
                <h4 class="card-title">
                  {{i18n.groupForm.basicInfoFieldset}}
                </h4>
                <p class="card-text" ng-if="g.address">
                  <span class="font-weight-bold">{{i18n.addressFrgmnt.legend}}:</span>
                  {{g.address.street}}
                  #{{g.address.extNumber}}<span ng-if="g.address.intNumber">, Int {{g.address.intNumber}}</span><br>
                  {{g.address.city}} {{g.address.state}}, {{g.address.country}}<br>
                  {{i18n.addressFrgmnt.zipLbl}} {{g.address.zip}}
                </p>
                <p class="card-text" ng-if="g.group.phone">
                  <span class="font-weight-bold">{{i18n.groupForm.phoneLbl}}:</span>
                  <a href="tel:{{g.group.phone}}">{{g.group.phone}}</a>
                </p>
                <p class="card-text" ng-if="g.group.email">
                  <span class="font-weight-bold">{{i18n.groupForm.emailLbl}}:</span>
                  <a href="mailto:{{g.group.email}}">{{g.group.email}}</a>
                </p>
                <h4 class="card-title">{{i18n.groupForm.shcLegend}}:</h4>
                <p class="card-text">{{g.schedule.weekday}}</p>

                <a ng-href="#!/groups/view/{{g.$id}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>


  </article>
</section>
