<section>
  <article class="row">

    <!-- Profile Summary -->
    <div class="col mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{currentSession.memberData.shortname}}</h4>
          <hr>
          <p class="card-text">
            <span class="font-weight-bold">{{currentSession.user.email}}</span><br>
            <span class="font-weight-bold">{{i18n.profile.lastLogin}}</span>
            <span>{{currentSession.user.lastLoginOn | date: config.formats.datetime }}</span><br>
            <span class="font-weight-bold">{{i18n.profile.lastActivity}}</span>
            <span>{{currentSession.user.lastActivityOn | date: config.formats.datetime }}</span><br>
            <!-- <a ng-href="#!/profile" class="btn btn-warning float-right">{{i18n.profile.viewProfileBtn}}</a> -->
          </p>
        </div>
      </div>
    </div>
  </article>

  <!-- My Reports and My Requests -->
  <article class="row" ng-if="currentSession.user.type != 'root'">
    <!-- My Reports -->
    <div class="col-md-6 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{i18n.reports.myReportsLbl}}</h4>
          <hr>
          <div class="row mb-2">
            <div class="col">
              <h5  ng-if="currentSession.user.type != 'user'">
                <span class="badge badge-warning">{{globalCount.reports.pending}}</span>
                <a ng-href="#!/reports" class="">{{i18n.reports.pendingReviewLbl}}</a>
              </h5>
              <h5>
                <span class="badge badge-primary">{{currentSession.user.counters.reports.pending}}</span>
                <span>{{i18n.reports.underReviewLbl}}</span>
              </h5>
              <h5>
                <span class="badge badge-success">{{currentSession.user.counters.reports.approved}}</span>
                <span>{{i18n.reports.approvedLbl}}</span>
              </h5>
              <h5>
                <span class="badge badge-danger">{{currentSession.user.counters.reports.rejected}}</span>
                <span>{{i18n.reports.rejectedLbl}}</span>
              </h5>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col" ng-controller="CreateReportCntrl">
              <button class="btn btn-block btn-warning clickable"
              ng-click="quickReportLauncher()"  ng-show="currentSession.accessGroups.length <= 1"
              ng-disabled="currentSession.accessGroups.length < 1">
              {{i18n.launchpad.createReport}}
              </button>
              <div ng-include="'views/groups/groupSelectModal.html'"></div>
              <button class="btn btn-block btn-warning clickable"
              ng-show="currentSession.accessGroups.length > 1"
              data-toggle="modal" data-target="#groupSelectModal">
              {{i18n.launchpad.createReport}}
              </button>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <a href="#!/myreports" class="btn btn-block btn-warning clickable">
                {{i18n.launchpad.viewMyReports}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- My Request -->
    <div class="col-md-6 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{i18n.requests.myRequests}}</h4>
          <hr>
          <div class="row mb-2">
            <div class="col">
              <h5 ng-if="currentSession.user.type != 'user'">
                <span class="badge badge-warning">{{globalCount.requests.members.pending}}</span>
                <a ng-href="#!/requests/members" class="">{{i18n.requests.pendingReviewShortLbl}}</a>
              </h5>
              <h5>
                <span class="badge badge-primary">{{currentSession.user.counters.requests.members.pending}}</span>
                <span class="">{{i18n.requests.pendingShortLbl}}</span>
              </h5>
              <h5>
                <span class="badge badge-success">{{currentSession.user.counters.requests.members.approved}}</span>
                <span class="">{{i18n.requests.approvedShortLbl}}</span>
              </h5>
              <h5>
                <span class="badge badge-danger">{{currentSession.user.counters.requests.members.rejected}}</span>
                <span class="">{{i18n.requests.rejectedShortLbl}}</span>
              </h5>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col" ng-if="currentSession.user.type != 'user'">
              <a href="#!/members/new" class="btn btn-block btn-warning clickable">
                {{i18n.launchpad.createMember}}
              </a>
            </div>
            <div class="col" ng-if="currentSession.user.type == 'user'">
              <a href="#!/requests/members/new" class="btn btn-block btn-warning clickable">
                {{i18n.launchpad.requestMember}}
              </a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <a href="#!/myrequests" class="btn btn-block btn-warning clickable">
                {{i18n.launchpad.viewMyRequests}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Message Center -->
  <article class="row" ng-controller="MessageCenterCntrl">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{i18n.msgCenter.title}}</h4>
          <hr>
          <div class="pre-scrollable mb-4">
            <div class="row" ng-repeat="message in msgCenterMessages | orderBy:'createdOn':true track by message.$id" >
                <div class="alert alert-{{message.type}} ml-4 mr-4">
                  {{message.message}}
                  <br>
                  <hr style="margin-bottom: 0;">
                  <span class="small font-weight-light">
                    {{message.createdByEmail}} -
                    {{message.createdOn | date: config.formats.datetime}}
                  </span>
                  <br>
                  <!-- Show Delete option when message was created by current User. Admin can remove any message -->
                  <span class="small font-weight-light clickable"
                      ng-click="removeMessage(message.$id)"
                      ng-if="(message.createdById == currentSession.user.&id) || (
                              currentSession.user.type != 'user')">
                    {{i18n.msgCenter.deleteMsg}}
                  </span>
                </div>
            </div>
          </div>
          <!-- Alerts -->
          <div class="alert alert-danger" ng-show="!msgCenterMessages || msgCenterMessages.length<=0">
            {{i18n.msgCenter.noMessages}}
          </div>
          <div ng-include="'views/alerts.html'"></div>
          <!-- Create Messages -->
          <div class="mt-4" ng-show="currentSession.user.type != 'user'">
            <p class="card-text">
              {{i18n.msgCenter.instruction}}
            </p>
            <form name="messageForm" novalidate ng-submit="postMessage()">
              <div class="row mt-3">
                <div class="col-sm-10">
                  <textarea class="form-control" ng-required="true" ng-model="message.content"></textarea>
                </div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-block btn-success h-100"
                      ng-disabled="messageForm.$invalid || messageForm.$pristine">
                    {{i18n.msgCenter.sendBtn}}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <input id="importantMsgCheck" type="checkbox" ng-model="message.isImportant">
                  <label for="importantMsgCheck">{{i18n.msgCenter.importanMsg}}</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Card End -->
    </div>
  </article>
</section>
