<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">

  <span class="navbar-brand bg-danger" ng-if="config.env !='prod'" >
    {{config.env}}
  </span>
  <a class="navbar-brand" href="#!/about">
    {{i18n.navigation.brand}}
  </a>

  <!--  Collapsable button -->
  <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--  Collapsable Menu -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent"ng-controller="LogoutCntrl">
    <ul class="navbar-nav mr-auto">
      <!--  If no User logged -->
      <li class="nav-item" ng-if="!currentSession.user" >
        <a class="nav-link" href="#!/register">{{i18n.navigation.register}}</a>
      </li>
      <li class="nav-item" ng-if="!currentSession.user" >
        <a class="nav-link" href="#!/login">{{i18n.navigation.login}}</a>
      </li>
      <!-- User Menu: if user is logged in -->
      <li class="nav-item" ng-if="currentSession.user">
        <a class="nav-link" ng-href="#!/home">{{i18n.navigation.home}}</a>
      </li>
      <!-- User Menu: if user has an associated Member -->
      <li class="nav-item" ng-if="currentSession.member" >
        <a class="nav-link" href="#!/mygroups">{{i18n.navigation.user.groups}}</a>
      </li>
      <li class="nav-item" ng-if="currentSession.member" >
        <a class="nav-link" href="#!/mycontacts">{{i18n.navigation.user.contacts}}</a>
      </li>
      <li class="nav-item" ng-if="currentSession.member" >
        <a class="nav-link" href="#!/myreports">{{i18n.navigation.user.reports}}</a>
      </li>
      <!-- Admin Menu: if user is Admin type -->
      <li class="nav-item dropdown" ng-if="currentSession.user.type == 'admin'">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{i18n.navigation.admin.menu}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#!/admin/dashboard">{{i18n.navigation.admin.dashboard}}</a>
          <a class="dropdown-item" href="#!/groups">{{i18n.navigation.admin.groups}}</a>
          <a class="dropdown-item" href="#!/members">{{i18n.navigation.admin.members}}</a>
          <a class="dropdown-item" href="#!/weeks">{{i18n.navigation.admin.weeks}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#!/admin/monitor">{{i18n.navigation.admin.monitor}}</a>
        </div>
      </li>
      <!-- User Menu: if user is logged in -->
      <!-- <li class="nav-item" ng-if="currentSession.user">
        <a class="nav-link" ng-href="#!/members/edit/{{currentSession.user.memberId}}">{{currentSession.user.email}}</a>
      </li> -->
      <li class="nav-item" ng-if="currentSession.user">
        <a class="nav-link" ng-href="#!/login" ng-click="logout()">{{i18n.navigation.logout}}</a>
      </li>
    </ul>
  </div>
</nav>
