<!-- Contacts List -->
<article class="card mb-3">
  <!-- <div class="card-header"></div> -->
  <div class="card-body">
    <h4 class="card-title">{{i18n.user.contactsList.title}}</h4>
    <hr>
    <div class="card-text">
        <!-- <p>{{i18n.user.groupsList.description}}</p> -->
    </div>
    <div class="mb-3">
      <input type="text" placeholder="{{i18n.forms.search.hint}}" class="form-control form-control-lg" ng-model="searchText">
    </div>
  </div>
</article>
<!-- Alert/Error row -->
<div class="row"  ng-show="membersList && membersList.length == 0">
  <div class="col">
    <div class="alert alert-danger" role="alert">
      {{i18n.user.contactsList.noContactsError}}
    </div>
  </div>
</div>

<article ng-include="'views/members/membersList.html'"></article>
