<section>
    <div class="card mb-3">
      <div class="card-header">
        {{i18n.navigation.user.dashboard}}
      </div>
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"></p>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3"
            ng-repeat="g in myGroupsList">
            <article class="h-100" ng-include="'views/groups/groupInfoCard.html'"></article>
          </div>
        </div>
      </div>
    </div>
</section>


  <article ng-include="'views/groups/groupsList.html'"></article>
