<!-- My Member Requests View -->
<section id="myRequests">

  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.requests.myRequestsTitle}}</h4>
    </div>
  </article>

  <!-- Badges -->
  <article class="row">
    <div class="col mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="row">
            <h4 class="col">
              <span class="badge badge-primary">{{currentSession.user.counters.requests.members.pending}}</span>
              <span class="btn-link clickable" ng-click="getUserRequests('pending')">{{i18n.requests.pendingLbl}}</span>
            </h4>
            <h4 class="col">
              <span class="badge badge-success">{{currentSession.user.counters.requests.members.approved}}</span>
              <span class="btn-link clickable" ng-click="getUserRequests('approved')">{{i18n.requests.approvedLbl}}</span>
            </h4>
            <h4 class="col">
              <span class="badge badge-danger">{{currentSession.user.counters.requests.members.rejected}}</span>
              <span class="btn-link clickable" ng-click="getUserRequests('rejected')">{{i18n.requests.rejectedLbl}}</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Buttons -->
  <article class="row">
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" ng-click="getUserRequests()">
        {{i18n.requests.allRequestsLbl}}
      </a>
    </div>
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" href="#!/requests/members/new" >
        {{i18n.requests.newMemberRequest}}
      </a>
    </div>
  </article>

  <!-- Alerts to show Response Message (Used after redirect from Request Delete) -->
  <div class="alert alert-success" role="alert" ng-show="requestResponse.deleted" >
    {{requestResponse.message}}
  </div>
  <div ng-include="'views/alerts.html'"></div>

  <!-- Title and Filter -->
  <article class="card mb-3" ng-show="filteredRequestsList.length">
    <div class="card-body">
      <p class="lead">
  			{{myRequestsParams.title}}
  		</p>
      <div class="row" ng-show="filteredRequestsList.length > config.minResultsToshowFilter">
        <div class="col">
          <input type="text" placeholder="{{i18n.filterBox.filterHint}}" class="form-control form-control-lg"
            ng-model="myRequestsParams.searchFilter">
        </div>
      </div>
    </div>
  </article>

  <!-- Show number of loaded Requests -->
  <div class="alert alert-info" role="alert" ng-show="filteredRequestsList.length" >
    {{filteredRequestsList.length}} {{i18n.requests.loadedLbl}}
    <!-- Load all pending Requests  -->
    <span class="btn-link clickable" ng-click="loadPendingUserRequests()"
      ng-if="(filteredRequestsList.length < myRequestsParams.maxPossible)" >
      {{i18n.requests.loadPending1}}
      {{myRequestsParams.maxPossible - filteredRequestsList.length}}
      {{i18n.requests.loadPending2}}
    </span>
  </div>

  <!-- Requests Cards -->
  <article class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="request in filteredRequestsList | filter:myRequestsParams.searchFilter | orderBy:'request.audit.lastUpdateOn' track by request.$id">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!/requests/members/edit/{{request.$id}}">
              {{request.basicInfo.shortname}}
            </a>
          </h4>
          <span class="badge badge-primary" ng-if="request.status == 'pending'">{{i18n.requests.pendingRequestLbl}}</span>
          <span class="badge badge-success" ng-if="request.status  == 'approved'">{{i18n.requests.approvedRequestLbl}}</span>
          <span class="badge badge-danger" ng-if="request.status == 'rejected'">{{i18n.requests.rejectedRequestLbl}}</span>
          <p class="card-text mt-2" ng-if="request.notes">
            <span class="font-weight-bold">{{i18n.members.notesLbl}}:</span><br>
            {{request.notes}}
          </p>
          <!-- <a class="btn btn-block btn-warning clickable" ng-href="#!/requests/members/edit/{{request.$id}}">
            {{i18n.requests.openRequestBnt}}
          </a> -->
        </div>
      </div>
    </div>
  </article>

  <!-- Load all pending Reports  -->
  <div class="row mb-3" ng-show="filteredRequestsList.length">
    <div class="col text-center">
      <span class="text-primary">
        {{filteredRequestsList.length}} {{i18n.requests.loadedLbl}}
      </span><br>
      <span class="btn-link clickable" ng-click="loadPendingUserRequests()"
        ng-if="(filteredRequestsList.length < myRequestsParams.maxPossible)" >
        {{i18n.requests.loadPending1}}
        {{myRequestsParams.maxPossible - filteredRequestsList.length}}
        {{i18n.requests.loadPending2}}
      </span>
    </div>
  </div>

</section>
