<section  id="userStatistics">
  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.statistics.userTitle}}</h4>
    </div>
  </article>

  <div ng-include="'views/alerts.html'"></div>

  <article ng-controller="ReportsDashCntrl">
    <div class="alert alert-success" role="alert" ng-show="response.reportMsgOk">
      {{response.reportMsgOk}}
    </div>
    <!-- Reports Finder -->
    <div ng-include="'views/reports/reportsFinder.html'"></div>
    <div ng-include="'views/reports/reportsDashboard.html'"></div>
  </article>
</section>
