<section>

  <div class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">
        {{objectDetails.member.shortname}}
      </h4>
      <h4 class="badge badge-success" ng-if="objectDetails.basicInfo.type == 'admin'">
        {{i18n.admin.users.adminLbl}}
      </h4>
      <h4 class="badge badge-primary" ng-if="objectDetails.basicInfo.type == 'user'">
        {{i18n.admin.users.userLbl}}
      </h4>
    </div>
  </div>

  <div class="card h-100 mb-3">
    <div class="card-body">
      <p><span class="font-weight-bold">{{i18n.admin.users.table.user}}: </span>{{objectDetails.basicInfo.email}}</p>
      <p><span class="font-weight-bold">{{i18n.admin.users.table.lastLogin}}: </span>{{objectDetails.basicInfo.lastLoginOn | date: config.formats.datetime}}</p>
      <p><span class="font-weight-bold">{{i18n.admin.users.table.lastActivity}}: </span>{{objectDetails.basicInfo.lastActivityOn | date: config.formats.datetime}}</p>
    </div>
  </div>

  <!-- Audit -->
  <article ng-if="objectDetails.audit" ng-include="'views/fragments/auditDetails.html'"></article>

</section>
