<!-- Admin Users List View -->
<section id="adminUsersList" ng-show="currentSession.user.type != 'user'">

  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.users.adminTitle}}</h4>
    </div>
  </article>

  <!-- Badges -->
  <article class="row">
    <div class="col mb-3">
      <article id="badgesCard" class="card h-100">
        <div class="card-body">
          <h4>
            <span class="badge badge-primary">{{usersCounters.total}}</span>
            <span class="btn-link clickable" ng-click="loadAllUsersList()">{{i18n.users.totalLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-success">{{usersCounters.active}}</span>
            <span class="btn-link clickable" ng-click="loadActiveUsersList()">{{i18n.users.activeLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-danger">{{usersCounters.total-usersCounters.active}}</span>
            <span class="btn-link clickable" ng-click="loadInactiveUsersList()">{{i18n.users.inactiveLbl}}</span>
          </h4>
        </div>
      </article>
    </div>
    <div class="col mb-3">
      <article id="" class="card h-100">
        <div class="card-body">
          <h4>
            <span class="badge badge-dark">{{usersCounters.root}}</span>
            <span class="btn-link clickable" ng-click="loadRootUsersList()">{{i18n.roles.rootsLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-warning">{{usersCounters.admin}}</span>
            <span class="btn-link clickable" ng-click="loadAdminUsersList()">{{i18n.roles.adminsLbl}}</span>
          </h4>
          <h4>
            <span class="badge badge-primary">{{usersCounters.user}}</span>
            <span class="btn-link clickable" ng-click="loadNormalUsersList()">{{i18n.roles.usersLbl}}</span>
          </h4>
        </div>
      </article>
    </div>
  </article>

  <!-- Buttons -->
  <!-- <div class="row">
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" ng-click="loadAllUsersList()">
        {{i18n.users.loadAllBtn}}
      </a>
    </div>
    <div class="col mb-3">
      <a href="#!/users/new" class="btn btn-lg btn-block btn-primary">
        {{i18n.users.newBtn}}
      </a>
    </div>
  </div> -->

  <!-- Alerts to show Response Message (Used after redirect from User Delete) -->
  <div class="alert alert-success" role="alert" ng-show="userResponse.deleted" >
    {{userResponse.message}}
  </div>
  <div ng-include="'views/alerts.html'"></div>

  <!-- Title, Filter and Sort -->
  <article class="card mb-3" ng-show="adminUsersList.length">
    <div class="card-body">
      <p class="lead">
  			{{adminUsersParams.title}}
  		</p>
      <!-- Title, Filter and Sort -->
      <div class="row" ng-show="adminUsersList.length > config.minResultsToshowFilter">
        <div class="col">
          <input type="text" placeholder="{{i18n.filterBox.filterHint}}" class="form-control form-control-lg"
            ng-model="adminUsersParams.searchFilter">
        </div>
      </div>
      <!-- Sorting -->
      <div ng-include="'views/fragments/sortingRow.html'"></div>
    </div>
  </article>

  <!-- Show number of loaded Users -->
  <div class="alert alert-info" role="alert" ng-show="adminUsersList.length" >
    {{adminUsersList.length}} {{i18n.users.loadingSuccess}}
    <!-- Load all pending Users  -->
    <span class="btn-link clickable" ng-click="loadPendingUsers()"
      ng-if="(adminUsersList.length < adminUsersParams.maxPossible)" >
      {{i18n.users.loadPending1}}
      {{adminUsersParams.maxPossible - adminUsersList.length}}
      {{i18n.users.loadPending2}}
    </span>
  </div>

  <!-- Users Cards -->
  <article id="usersList" class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="user in adminUsersList | filter:adminUsersParams.searchFilter | orderBy:selectedSortBy:reverseSort track by user.$id">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-if="user.type == 'root'" ng-href="#!/users/edit/{{user.$id}}">
              {{i18n.roles.rootLbl}}
            </a>
            <a ng-if="!user.shortname" ng-href="#!/users/edit/{{user.$id}}">
              {{i18n.roles.noNameLbl}}
            </a>
            <a ng-if="user.type != 'root'" ng-href="#!/users/edit/{{user.$id}}">
              {{user.shortname}}
            </a>
          </h4>
          <hr>
          <p>
            <!-- Role Badge -->
            <span class="badge badge-dark" ng-if="user.type == 'root'">{{i18n.roles.rootLbl}}</span>
            <span class="badge badge-warning" ng-if="user.type == 'admin'">{{i18n.roles.adminLbl}}</span>
            <span class="badge badge-primary" ng-if="user.type == 'user'">{{i18n.roles.userLbl}}</span>

            <span class="badge badge-success" ng-if="user.isActive">{{i18n.users.status.activeLbl}}</span>
            <span class="badge badge-secondary" ng-if="!user.isActive">{{i18n.users.status.inactiveLbl}}</span>
          </p>
          <p><span class="font-weight-bold">{{i18n.contact.emailLbl}}: </span>{{user.email}}</p>
          <p><span class="font-weight-bold">{{i18n.profile.lastLogin}} </span>{{user.lastLoginOn | date: config.formats.datetime}}</p>
          <p><span class="font-weight-bold">{{i18n.profile.lastActivity}} </span>{{user.lastActivityOn | date: config.formats.datetime}}</p>
          <p><span class="font-weight-bold">{{i18n.profile.sessionStatusLbl}} </span>
            <span class="badge badge-success" ng-if="user.sessionStatus == 'online'">{{i18n.users.status.onlineLbl}}</span>
            <span class="badge badge-secondary" ng-if="user.sessionStatus == 'offline'">{{i18n.users.status.offlineLbl}}</span>
          </p>
        </div>
      </div>
    </div>
  </article>

  <!-- Load all pending Users  -->
  <div class="row mb-3" ng-show="adminUsersList.length">
    <div class="col text-center">
      <span class="text-primary">
        {{adminUsersList.length}} {{i18n.users.loadingSuccess}}
      </span><br>
      <span class="btn-link clickable" ng-click="loadPendingUsers()"
        ng-if="(adminUsersList.length < adminUsersParams.maxPossible)" >
        {{i18n.users.loadPending1}}
        {{adminUsersParams.maxPossible - adminUsersList.length}}
        {{i18n.users.loadPending2}}
      </span>
    </div>
  </div>
</section>
