<article>
	<div class="jumbotron">
		<h1 class="display-3">
			{{i18n.error.title}}
		</h1>
		<hr class="my-4"/>
		<p class="lead" ng-if="">
		</p>

		<!-- Alert for error message -->
		<div class="alert alert-danger" role="alert" ng-if="response.error">
			<!-- <p ng-if="currentSession.user">{{currentSession.user.email}}:</p> -->
			<p ng-if="!response.message">{{i18n.error.lead}}</p>
			<p>{{response.message}}</p>
		</div>

		<a class="btn btn-lg btn-primary" href="#!/home" ng-if="response.showHomeButton || !response">
			{{i18n.navigation.backToHome}}
		</a>
		<a class="btn btn-lg btn-warning" href="#!/login" ng-if="response.showLoginButton">
			{{i18n.navigation.login}}
		</a>

	</div>
</article>
