<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{i18n.notifications.title}}</h4>
    <hr>
    <!-- Notificat List -->
    <div class="list-group">
      <div class="row mb-3">
        <button type="button" class="clickable btn btn-link" ng-click="markReadedAllNotifications()">
          {{i18n.notifications.cleanAll}}
        </button>
        <button type="button" class="clickable btn btn-link" ng-click="deleteAllNotifications()">
          {{i18n.notifications.deleateAll}}
        </button>
      </div>
      <!-- Loading Alert -->
      <div class="alert alert-warning" role="alert" ng-show="loading">
        {{i18n.alerts.loading}}
      </div>
      <!-- No Records Alert -->
      <div ng-if="!loading && allNotifications && !allNotifications.length" class="alert alert-danger" role="alert">
        {{i18n.notifications.noRecords}}
      </div>
      <div ng-repeat="notification in allNotifications | orderBy:'-time'" >
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <span class="mr-auto badge badge-danger" ng-if="!notification.readed" ng-click="markNotificacionReaded(notification)">
            {{i18n.notifications.new}}
          </span>
          <div class="d-flex w-100">
            <p class="w-100 mb-0">
              <button type="button" class="clickable btn btn-link p-0" name="button" ng-click="openNotification(notification)">
                {{notification.description}}
              </button>
              <button type="button" class="clickable btn btn-link p-0" name="button"
                ng-if="notification.from" ng-click="openMemberByUserId(notification)">
                {{i18n.notifications.by}} {{notification.from}}
              </button>
             <br>
             <small>{{notification.time | date: 'MMM dd yyyy hh:mm a' }}</small>
            </p>
            <small class="ml-auto">
              <button type="button" class="close" aria-label="{{i18n.btns.deleteBtn}}" title="{{i18n.btns.deleteBtn}}" ng-click="deleteNotification(notification.$id)">
                <span class="clickable" aria-hidden="true">&times;</span>
              </button>
            </small>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
