<article class="card">
  <div class="card-body">
    <h4 class="card-title">{{i18n.notifications.title}}</h4>
    <hr>
    <!-- alerts -->
    <div ng-include="'views/alerts.html'"></div>
    <!-- No Records Alert -->
    <div ng-if="!response.loading && allNotifications && !allNotifications.length" class="alert alert-danger" role="alert">
      {{i18n.notifications.noRecords}}
    </div>
    <div class="row mb-3" ng-if="allNotifications.length">
      <div class="col text-right">
        <span class="btn btn-link clickable" ng-click="readAllNotifications()">
          {{i18n.notifications.cleanAll}}
        </span>
        <span>|</span>
        <span class="btn btn-link clickable" ng-click="deleteAllNotifications()">
          {{i18n.notifications.deleteAll}}
        </span>
      </div>
    </div>
    <!-- Notifications List -->
    <div class="list-group mb-3" ng-show="allNotifications.length">
      <div class="list-group-item list-group-item-action flex-column align-items-start"
          ng-repeat="notification in allNotifications | orderBy:'-time' track by notification.$id">
        <div class="d-flex w-100">
          <p class="clickable mb-0 w-100" ng-click="openNotification(notification)">
            <span class="badge badge-danger" ng-if="!notification.readed">
              {{i18n.notifications.unreaded}}
            </span>
            <br ng-if="!notification.readed">
            <span class="text-primary">{{notification.description}}</span><br>
            <small>{{i18n.notifications.by}} {{notification.from}},
             {{notification.time | date: 'MMM dd yyyy hh:mm a' }}</small>
          </p>
          <div class="ml-auto">
            <!-- Mark as readed -->
            <i class="clickable pr-2 fas fa-lg fa-eye" title="{{i18n.notifications.readBtn}}"
                ng-click="readNotification(true,notification)" ng-if="!notification.readed"></i>
            <!-- Mark as unreaded -->
            <i class="clickable pr-2 fas fa-lg fa-eye-slash" title="{{i18n.notifications.unreadBtn}}"
                ng-click="readNotification(false,notification)" ng-if="notification.readed"></i>
            <!-- Delete Notification -->
            <i class="clickable pr-2 fas fa-lg fa-trash-alt" title="{{i18n.notifications.deleteBtn}}"
                ng-click="deleteNotification(notification)"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Load all button -->
    <div class="row mb-3" ng-show="allNotifications.length && !allNotificationsLoaded">
      <div class="col text-center">
        <span class="text-primary">
          {{allNotifications.length}} {{i18n.notifications.loadedNotifications}}
        </span><br>
        <span class="text-primary clickable"
          ng-if="currentSession.user.counters.notifications.total > allNotifications.length" ng-click="loadAllNotifications()">
          {{i18n.notifications.loadPending1}}
          {{currentSession.user.counters.notifications.total - allNotifications.length}}
          {{i18n.notifications.loadPending2}}
        </span>
      </div>
    </div>
  </div>
</article>
