<section  ng-show="currentSession.user.type == 'admin'">
  <div class="card h-100" >
    <h4 class="card-header">
      <a ng-href="#!/groups/edit/{{group.$id}}">
        #{{group.group.number}} {{group.group.name}}
      </a>
    </h4>
    <div class="card-body">
      <h4 class="card-title">
        {{i18n.admin.access.title}}
      </h4>
      <p class="card-text">
        {{i18n.admin.access.description}}
      </p>
      <!-- Active Members List -->
      <form class="mt-3" name="accessForm" novalidate ng-submit="addRule()">
        <div class="row mb-3">
          <div class="col-8">
            <select id="memberSelect" class="form-control form-control-lg" ng-model="access.memberId" ng-required="true">
              <option ng-repeat="m in membersAccess" value="{{m.$id}}">
                {{m.member.shortname}}
              </option>
            </select>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-lg btn-block btn-success" ng-disabled="accessForm.$invalid">
              {{i18n.btns.addBtn}}
            </button>
          </div>
        </div>
      </form>

      <!-- Alerts -->
      <div class="alert alert-danger" role="alert" ng-show="response.accessMsgError">
        {{response.accessMsgError}}
      </div>
      <div class="alert alert-success" role="alert" ng-show="response.accessMsgOk">
        {{response.accessMsgOk}}
      </div>
      <!-- Loading/No Records Alert -->
      <div class="row">
        <div class="col" ng-show="acessList && acessList.length == 0">
          <div class="alert alert-danger" role="alert">
            {{i18n.admin.access.noRecordsError}}
          </div>
        </div>
      </div>

      <!-- Access Table -->
      <table class="table table-responsive-sm table-md table-striped" ng-show="acessList && acessList.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">{{i18n.admin.access.table.memberName}}</th>
            <th scope="col">{{i18n.admin.access.table.date}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in acessList | orderBy:'-date'">
            <td scope="row">{{$index + 1}}</td>
            <td scope="row">
              <button type="button" class="btn-sm btn-danger" name="button" ng-click="deleteRule(a.$id)">
                {{i18n.btns.deleteBtn}}</button>
            </td>
            <td>
              <a ng-href="#!/members/edit/{{a.memberId}}">
                {{a.memberName}}
              </a>
            </td>
            <td>{{a.date | date: "MMM dd yyyy hh:mm:ss"}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Buttons -->
      <div class="row mb-3">
        <div class="col">
          <a class="btn btn-lg btn-block btn-primary" href="#!/groups">
            {{i18n.btns.returnBtn}}
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<article ng-include="'views/responses/error-norecord.html'" ng-if="currentSession.user.type != 'admin'"></article>
