<article class="modal fade" id="groupSelectModal" tabindex="-1" role="dialog" aria-labelledby="groupSelectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="groupSelectModalLabel">{{i18n.groupModal.title}}</h5>
        <button type="button" class="close clickable" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- FIlter box: filter on the groupName only -->
        <input type="text" placeholder="{{i18n.forms.filterHint}}" class="form-control"
          ng-model="searchFilter.name" ng-show="currentSession.accessGroups.length > config.minResultsToshowFilter"/>
        <!-- List of Groups the Member has access to -->
        <div class="list-group mt-2 pre-scrollable">
          <div id="group-{{rule.groupId}}" class="list-group-item list-group-item-action flex-column align-items-start clickable"
  						ng-repeat="group in currentSession.accessGroups | filter:searchFilter | orderBy:'name'"
              ng-click="closeGroupSelectModal(group)" data-dismiss="modal">
  					<div class="w-100">
              <div class="row">
                <div class="col">
                  <span class="mb-1 font-weight-bold">{{group.name}}</span>
                </div>
                <div class="col">
                  <span class="float-right badge badge-success" ng-if="group.isActive">
                    {{i18n.groups.activeLbl}}</span>
                    <span class="float-right badge badge-danger" ng-if="!group.isActive">
                      {{i18n.groups.inactiveLbl}}</span>
                </div>
              </div>
  					</div>
  				</div>
				</div>

      </div> <!-- Modal body -->
    </div>
  </div>
</article>
