<!-- Groups List -->
<section id="groupsList">
  <div class="row">
    <!-- Loading Alert -->
    <div class="col"  ng-show="!groupsList">
      <div class="alert alert-warning" role="alert">
        {{i18n.alerts.loading}}
      </div>
    </div>

    <!-- Group card -->
    <div ng-repeat="g in groupsList | filter:searchText | orderBy:'group.number'" class="col-md-6 col-lg-4 mb-3" >
      <div class="card h-100" >
        <h4 class="card-header">
          <a ng-href="#!/groups/edit/{{g.$id}}">
            #{{g.group.number}} {{g.group.name}}
          </a>
        </h4>
        <div class="card-body">
          <h4 class="card-title">
            {{i18n.forms.group.legend}}
          </h4>
          <span class="badge badge-danger" ng-if="g.group.status == 'inactive'">Grupo Inactivo </span>
          <p class="card-text" ng-if="g.address">
            <span class="font-weight-bold">{{i18n.forms.address.legend}}:</span>
            {{g.address.street}} #{{g.address.extNumber}}
            <span ng-if="g.address.intNumber">Int {{g.address.intNumber}}</span>
            {{i18n.forms.address.neighborhoodLbl}}  {{g.address.neighborhood}}.<br>
            <span ng-if="g.address.zip">{{i18n.forms.address.zipLbl}} {{g.address.zip}}</span><br>
            {{g.address.city}} {{g.address.state}}, {{g.address.country}}
          </p>
          <p class="card-text" ng-if="g.group.phone">
            <span class="font-weight-bold">{{i18n.forms.phone.phoneLbl}}:</span>
            <a href="tel:{{g.group.phone}}">{{g.group.phone}}</a>
          </p>
          <p class="card-text" ng-if="g.group.email">
            <span class="font-weight-bold">{{i18n.forms.group.emailLbl}}:</span>
            <a href="mailto:{{g.group.email}}">{{g.group.email}}</a>
          </p>
          <!-- Schedule -->
          <h4 class="card-title">{{i18n.forms.group.shcLegend}}:</h4>
          <p class="card-text">
            {{g.schedule.weekday}}, {{g.schedule.time.HH}}:{{g.schedule.time.MM}} hrs.
          </p>

          <div class="row" ng-if="g.group.status == 'active'">
            <div class="col mb-3">
              <a ng-href="#!/reports/new/{{g.$id}}" class="btn btn-block btn-success">{{i18n.btns.addReport}}</a>
            </div>
          </div>
          <div class="row" ng-if="currentSession.user.type == 'admin'" >
            <div class="col mb-3" >
              <a ng-href="#!/groups/access/{{g.$id}}" class="btn btn-block btn-danger">{{i18n.btns.accessRules}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
