<!-- Admin Groups List View -->
<section id="adminGroupsList" ng-show="currentSession.user.type == 'admin'">

  <!-- Title -->
  <article id="titleCard" class="card h-100 mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.groups.adminTitle}}</h4>
    </div>
  </article>

  <!-- Badges -->
  <article class="row">
    <div class="col mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="row">
            <h4 class="col">
              <span class="badge badge-primary">{{groupsGlobalCount.total}}</span>
              <span class="btn-link clickable" ng-click="loadAllGroupsList()">{{i18n.groups.totalGroups}}</span>
            </h4>
            <h4 class="col">
              <span class="badge badge-success">{{groupsGlobalCount.active}}</span>
              <span class="btn-link clickable" ng-click="loadActiveGroupsList()">{{i18n.groups.activeGroups}}</span>
            </h4>
            <h4 class="col">
              <span class="badge badge-danger">{{groupsGlobalCount.total-groupsGlobalCount.active}}</span>
              <span class="btn-link clickable" ng-click="loadInactiveGroupsList()">{{i18n.groups.inactiveGroups}}</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Buttons -->
  <div class="row">
    <div class="col mb-3">
      <a class="btn btn-lg btn-block btn-primary clickable text-light" ng-click="loadAllGroupsList()">
        {{i18n.groups.loadBtn}}
      </a>
    </div>
    <div class="col mb-3">
      <a href="#!/groups/new" class="btn btn-lg btn-block btn-primary">
        {{i18n.groups.newBtn}}
      </a>
    </div>
  </div>

  <!-- Alerts to show Response Message (Used after redirect from Group Delete) -->
  <div class="alert alert-success" role="alert" ng-show="groupResponse.deleted">
    {{groupResponse.message}}
  </div>
  <div ng-include="'views/alerts.html'"></div>

  <!-- Title and Filter -->
  <article class="card mb-3" ng-show="adminGroupsList.length">
    <div class="card-body">
      <p class="lead">
  			{{adminGroupsParams.title}}
  		</p>
      <div class="row" ng-show="adminGroupsList.length > config.minResultsToshowFilter">
        <div class="col">
          <input type="text" placeholder="{{i18n.forms.filter.hint}}" class="form-control form-control-lg"
            ng-model="adminGroupsParams.searchFilter">
        </div>
      </div>
    </div>
  </article>

  <!-- Show number of loaded Groups -->
  <div class="alert alert-info" role="alert" ng-show="adminGroupsList.length" >
    {{adminGroupsList.length}} {{i18n.groups.loadingSuccess}}
    <!-- Load all pending Groups  -->
    <span class="btn-link clickable" ng-click="loadPendingGroups()"
      ng-if="(adminGroupsList.length < adminGroupsParams.maxPossible)" >
      {{i18n.groups.loadPending1}}
      {{adminGroupsParams.maxPossible - adminGroupsList.length}}
      {{i18n.groups.loadPending2}}
    </span>
  </div>

  <!-- Groups Cards -->
  <article id="groupsList" class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="group in adminGroupsList | filter:adminGroupsParams.searchText | orderBy:'number' track by group.$id">
      <!-- Group card -->
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!/groups/edit/{{group.$id}}">
              {{group.number}} - {{group.name}}
            </a>
          </h4>
          <span class="badge badge-success" ng-if="group.isActive">{{i18n.groups.activeLbl}}</span>
          <span class="badge badge-danger" ng-if="!group.isActive">{{i18n.groups.inactiveLbl}}</span>
          <hr>
          <p>
            <span class="font-weight-bold">{{i18n.address.legend}}:</span><br>
            {{group.address.street}} #{{group.address.extNumber}},
            <span ng-if="group.address.intNumber">Int {{group.address.intNumber}}.</span>
            <span ng-if="group.address.neighborhood">{{i18n.address.neighborhoodLbl}} {{group.address.neighborhood}}.</span>
            {{group.address.city}} {{group.address.state}}, {{group.address.country}}.
            <span ng-if="group.address.zip">{{i18n.address.zipLbl}} {{group.address.zip}}.</span>
            <span class="font-weight-bold">{{i18n.groups.emailLbl}}:</span> <a href="mailto:{{group.email}}">{{group.email}}</a><br>
            <span class="font-weight-bold">{{i18n.groups.phoneLbl}}:</span> <a href="tel:{{group.phone}}">{{group.phone}}</a>
          </p>
          <hr>
          <!-- Buttons -->
          <div class="row">
            <div class="col mb-2" ng-if="group.isActive">
              <a ng-href="#!/reports/new/{{group.$id}}" class="btn btn-block btn-warning">
                {{i18n.btns.addReport}}
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col" >
              <a ng-href="#!/groups/access/{{group.$id}}" class="btn btn-block btn-warning">
                {{i18n.btns.accessRules}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Load all pending Groups  -->
  <div class="row mb-3" ng-show="adminGroupsList.length">
    <div class="col text-center">
      <span class="text-primary">
        {{adminGroupsList.length}} {{i18n.groups.loadingSuccess}}
      </span><br>
      <span class="btn-link clickable" ng-click="loadPendingGroups()"
        ng-if="(adminGroupsList.length < adminGroupsParams.maxPossible)" >
        {{i18n.groups.loadPending1}}
        {{adminGroupsParams.maxPossible - adminGroupsList.length}}
        {{i18n.groups.loadPending2}}
      </span>
    </div>
  </div>
</section>
