<section id="userGroupsList" ng-show="currentSession.user.memberId">
  <!-- Title and Filter -->
  <article class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{i18n.mygroups.title}}</h4>
      <hr>
      <!-- <div class="card-text">
        <p>{{i18n.mygroups.description}}</p>
      </div> -->
      <div class="mb-3" ng-show="adminGroupsList.length > config.minResultsToshowFilter">
        <input type="text" placeholder="{{i18n.filterBox.filterHint}}" class="form-control form-control-lg" ng-model="searchFilter">
      </div>
    </div>
  </article>

  <div class="alert alert-danger" role="alert" ng-show="!myGroupsList.length" >
    {{i18n.mygroups.noResults}}
  </div>

  <!-- Groups List -->
  <article id="groupsList" class="row">
    <div class="col-md-6 col-lg-4 mb-3"
      ng-repeat="group in myGroupsList | filter:searchFilter | orderBy:'number' track by group.$id">
      <!-- Group card -->
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!/groups/view/{{group.$id}}">
              {{group.number}} - {{group.name}}
            </a>
          </h4>
          <span class="badge badge-success" ng-if="group.isActive">{{i18n.groups.activeStatusLbl}}</span>
          <span class="badge badge-danger" ng-if="!group.isActive">{{i18n.groups.inactiveStatusLbl}}</span>
          <hr>
          <p>
            <span class="font-weight-bold">{{i18n.groups.typeLbl}}:</span>{{group.type}}<br>
            <span class="font-weight-bold">{{i18n.groups.scheduleLbl}}:</span>{{group.weekday}}, {{group.time}}<br>
            <span class="font-weight-bold">{{i18n.contact.phoneLbl}}:</span> <a href="tel:{{group.phone}}">{{group.phone}}</a><br>
            <span class="font-weight-bold">{{i18n.contact.emailLbl}}:</span> <a href="mailto:{{group.email}}">{{group.email}}</a><br>
            <span class="font-weight-bold">{{i18n.address.legend}}:</span><br>
            {{group.address.street}} #{{group.address.extNumber}},
            <span ng-if="group.address.intNumber">Int {{group.address.intNumber}}.</span>
            <span ng-if="group.address.neighborhood">{{i18n.address.neighborhoodLbl}} {{group.address.neighborhood}}.</span>
            {{group.address.city}} {{group.address.state}}, {{group.address.country}}.
            <span ng-if="group.address.zip">{{i18n.address.zipLbl}} {{group.address.zip}}.</span><br>
          </p>
          <hr>
          <!-- Buttons -->
          <div class="row">
            <div class="col mb-2" ng-if="group.isActive">
              <a ng-href="#!/reports/new/{{group.$id}}" class="btn btn-block btn-warning">
                {{i18n.btns.addReport}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
