<section>
  <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="card" >
        <p class="card-header">
          Group Sumary
        </p>
        <div class="card-body">
          <h4 class="card-title">
            {{groupData.group.name}}
          </h4>
          <p class="card-text"></p>
          <h4><span class="badge badge-success">24</span> Realizadas</h4>
          <h4><span class="badge badge-danger">24</span> Suspendidas</h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <div class="card" >
        <p class="card-header">
          Group Data
        </p>
        <div class="card-body">
          <h4 class="card-title">
            {{groupData.group.name}}
          </h4>
          <p class="card-text">
            {{i18n.admin.access.description}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mb-3">
      <div class="card" >
        <p class="card-header">
          Reports
        </p>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text"></p>
          <table class="table table-responsive-sm table-md table-striped">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">{{i18n.admin.dashboard.reportTable.report}}</th>
                <th scope="col">{{i18n.admin.dashboard.reportTable.date}}</th>
                <th scope="col">{{i18n.admin.dashboard.reportTable.group}}</th>
                <th scope="col">{{i18n.admin.dashboard.reportTable.reunionStatus}}</th>
                <th scope="col">{{i18n.admin.dashboard.reportTable.duration}}</th>
                <th scope="col">{{i18n.admin.dashboard.reportTable.money}}</th>
                <th scope="col">{{i18n.admin.dashboard.reportTable.attendance}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="report in reportsForSelectedWeek | orderBy:'-createdOn'">
                <!-- <td scope="row">{{$index + 1}}</td> -->
                <td scope="row">
                  <a ng-href="#!/reports/edit/{{report.$id}}">
                    {{i18n.admin.dashboard.reportTable.view}}
                  </a>
                </td>
                <td>{{report.createdOn | date: "MMM dd yyyy hh:mm a"}}</td>
                <td scope="row">
                  <a ng-href="#!/groups/edit/{{report.reunion.groupId}}">
                    {{report.reunion.groupname}}
                  </a>
                </td>
                <td class="text-danger" ng-if="report.reunion.status == 'canceled'">
                  {{i18n.forms.report.cancelStatusLbl}}
                </td>
                <td class="text-success" ng-if="report.reunion.status == 'completed'">
                  {{i18n.forms.report.okStatusLbl}}
                </td>
                <td>{{report.reunion.duration}} min</td>
                <td>${{report.reunion.money}}</td>
                <td>
                  {{
                    report.attendance.guests.female.adult + report.attendance.guests.female.young +
                    report.attendance.guests.female.kid + report.attendance.guests.male.adult +
                    report.attendance.guests.male.young + report.attendance.guests.male.kid +
                    report.attendance.members.female.adult + report.attendance.members.female.young +
                    report.attendance.members.female.kid + report.attendance.members.male.adult +
                    report.attendance.members.male.young + report.attendance.members.male.kid
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mb-3">
      <div class="card" >
        <p class="card-header">
          Attendance Charts
        </p>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">
            Asistencia Promedio
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mb-3">
      <div class="card" >
        <p class="card-header">
          Money Charts
        </p>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</section>
