<section ng-controller="GroupFormCntrl">


<form class="mt-3" name="groupForm" novalidate ng-submit="saveGroup()">

  <!-- Basic Group Information -->
  <fieldset class="mb-4">
    <legend>{{i18n.groupForm.basicInfoFieldset}}</legend>

    <!-- Name row -->
    <div class="form-row">
      <div class="col-2 form-group">
        <label for="gnumber">
          {{i18n.groupForm.gnumberLabel}}
        </label>
        <input type="text" id="gnumber" name="gnumber" class="form-control form-control-lg"
          placeholder="{{i18n.groupForm.gnumberPlaceholder}}" ng-model="group.number" ng-required="true">
      </div>
      <div class="col-10 form-group">
        <label for="gname">
          {{i18n.groupForm.gnameLabel}}
        </label>
        <input type="text" id="gname" name="gname" class="form-control form-control-lg"
          placeholder="{{i18n.groupForm.gNamePlaceholder}}" ng-model="group.name" ng-required="true">
      </div>
    </div>

    <!-- Type and Status row -->
    <div class="form-row">
      <div class="col form-group">
        <label for="gtype">
          {{i18n.groupForm.gtypeLabel}}
        </label>
        <select id="gtype" name="gtype" class="form-control form-control-lg"
                ng-model="group.type" ng-required="true">
          <option value="{{i18n.dropdowns.gtype.mix}}">{{i18n.dropdowns.gtype.mix}}</option>
          <option value="{{i18n.dropdowns.gtype.men}}">{{i18n.dropdowns.gtype.men}}</option>
          <option value="{{i18n.dropdowns.gtype.women}}">{{i18n.dropdowns.gtype.women}}</option>
          <option value="{{i18n.dropdowns.gtype.young}}">{{i18n.dropdowns.gtype.young}}</option>
          <option value="{{i18n.dropdowns.gtype.pilot}}">{{i18n.dropdowns.gtype.pilot}}</option>
        </select>
      </div>
      <div class="col form-group">
        <label for="status">
          {{i18n.dropdowns.status.label}}
        </label>
        <select id="status" name="status" class="form-control form-control-lg"
                ng-model="group.status" ng-required="true">
          <option value="active">{{i18n.dropdowns.status.active}}</option>
          <option value="inactive">{{i18n.dropdowns.status.inactive}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col form-group">
        <label for="email">
          {{i18n.groupForm.emailLbl}}
        </label>
        <input type="email" name="email" id="email" class="form-control form-control-lg"
            placeholder="{{i18n.groupForm.emailHint}}" ng-model="group.email" ng-required="false">
      </div>
      <div class="col form-group">
        <label for="email">
          {{i18n.groupForm.phoneLbl}}
        </label>
        <input type="tel" name="phone" id="phone" class="form-control form-control-lg"
            placeholder="{{i18n.groupForm.phoneHint}}" ng-model="group.phone" ng-required="false">
      </div>
    </div>


  </fieldset>

  <!-- Address -->
  <section ng-include="'views/fragments/addressFieldset.html'"></section>

  <!-- Schedule -->
  <fieldset class="mb-4">
    <legend>{{i18n.groupForm.shcLegend}}</legend>
    <div class="form-row">
      <div class="col-6 form-group">
         <label for="schdDay">
          {{i18n.groupForm.schdDayLabel}}
        </label>
        <select id="schdDay" name="schdDay" class="form-control form-control-lg"
                ng-model="schedule.weekday" ng-required="true">
          <option value="{{i18n.dropdowns.weekdays.mon}}">{{i18n.dropdowns.weekdays.mon}}</option>
          <option value="{{i18n.dropdowns.weekdays.tue}}">{{i18n.dropdowns.weekdays.tue}}</option>
          <option value="{{i18n.dropdowns.weekdays.wed}}">{{i18n.dropdowns.weekdays.wed}}</option>
          <option value="{{i18n.dropdowns.weekdays.thu}}">{{i18n.dropdowns.weekdays.thu}}</option>
          <option value="{{i18n.dropdowns.weekdays.fri}}">{{i18n.dropdowns.weekdays.fri}}</option>
          <option value="{{i18n.dropdowns.weekdays.sat}}">{{i18n.dropdowns.weekdays.sat}}</option>
          <option value="{{i18n.dropdowns.weekdays.sun}}">{{i18n.dropdowns.weekdays.sun}}</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label for="schdHour">
          {{i18n.groupForm.schdHourLabel}}
        </label>
        <input type="number" name="schdHour" class="form-control form-control-lg" placeholder="19"
          ng-model="schedule.hour" ng-required="true" min="0" max="23" >
      </div>
      <div class="col-3 form-group">
        <label for="schdMin">
          {{i18n.groupForm.schdMinLabel}}
        </label>
        <input type="number" name="schdMin" class="form-control form-control-lg" placeholder="30"
          ng-model="schedule.minute" ng-required="true" min="0" max="59" >
      </div>
    </div>
  </fieldset>

  <!-- Alert/Error row -->
  <div class="form-row">
    <div class="col">
      <div class="alert alert-warning" role="alert" ng-show="groupForm.$invalid">
        {{i18n.alerts.invalidForm}}
      </div>
      <div class="alert alert-success" role="alert" ng-show="response.messageOk">
        {{response.messageOk}}
      </div>
      <div class="alert alert-danger" role="alert" ng-show="response.messageErr">
        {{response.messageErr}}
      </div>
    </div>
  </div>

  <!-- Buttons rows -->
  <div class="form-row" ng-if="isAdmin">
    <div class="col-sm form-group" >
      <button type="submit" class="btn btn-lg btn-block btn-primary"
        ng-disabled="groupForm.$invalid">
        {{i18n.btns.saveBtn}}
      </button>
    </div>
    <div class="col-sm form-group" ng-if="groupId">
      <button type="button" class="btn btn-lg btn-block btn-danger"
          data-toggle="collapse" data-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">
        {{i18n.btns.deleteBtn}}
      </button>
      <div  class="collapse" id="collapseDelete">
        <div class="alert alert-danger" role="alert">
          {{i18n.alerts.confirmDelete}}
          <button type="button" class="btn btn-danger" ng-click="deleteGroup()">
            {{i18n.btns.yesBtn}}
          </button>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">
            {{i18n.btns.noBtn}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col form-group">
      <a class="btn btn-lg btn-block btn-success" href="#!/groups">
        {{i18n.btns.returnBtn}}
      </a>
    </div>
  </div>


</form>

</section>
