<section>

	<div class="jumbotron">
		<h1 class="display-3">{{i18n.success.deleted.title}}</h1>
		<hr class="my-4">
		<p class="lead">
			{{i18n.success.deleted.message}}
		</p>

		<div class="row">
			<div class="col">
				<a href="#!/groups" class="btn btn-primary btn-lg btn-block">{{i18n.admin.launchpad.groupsBtn}}</a>
			</div>
			<div class="col">
				<a href="#!/members" class="btn btn-primary btn-lg btn-block">{{i18n.admin.launchpad.membersBtn}}</a>
			</div>
		</div>
	</div>

</section>
